<footer class="footer">
    <div class="container custom-container ">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-12 footer__logo order-md-first order-last">
                <a href="#">
                    <img src="img/footer-logo.svg" alt="#">
                </a>
                <div class="copyright">
                    © 2020  Всі права захищені
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-12 footer-nav">
                <div class="footer-title">
                    ГОЛОВНА
                </div>
                <ul>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-12 footer-schedule">
                <div class="footer-title">
                    ГРАФІК РОБОТИ
                </div>
                <ul>
                    <li>Пн - Пт з 8.00 до 17.00 Сб, Нд – вихідні</li>
                    <li><a class="underline" href="#">Політика конфіденційності </a></li>
                    <li>Розроблено в <a class="underline" href="#">Textum</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-12 footer_block-contact order-md-last order-first">
                <div class="footer-title">
                    НАШІ КОНТАКТИ
                </div>
                <ul>
                    <li><a href="#"><i class="fas fa-envelope"></i> profibooks@ukr.ua</a></li>
                    <li>
                        <a class="footer-social" href="#"><i class="fab fa-facebook-f"></i></a>
                        <a class="footer-social" href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 col-12 footer_block-contact order-md-last order-first">
                <div class="footer-contact">
                    <i class="fas fa-phone-alt"></i> (067) 5-738-738
                </div>
                <div class="footer-contact">
                    <i class="fas fa-phone-alt"></i> (067) 5-738-738
                </div>
                <ul>
                    <li class="social-group">
                        <a class="footer-social" href="#"><i class="fab fa-telegram"></i></a>
                        <a class="footer-social" href="#"><i class="fab fa-whatsapp"></i></a>
                        <a class="footer-social" href="#"><i class="fab fa-viber"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>