<header class="header">
    <div class="container custom-container header-top d-flex align-items-center justify-content-between ">
        <div class="logo">
            <a href="#"><img src="img/1-logo.svg" alt="#"></a>
        </div>
        <div class="mobil_search-icon" id="mobil_search">
            <a href="#">
                <img src="img/8-Vector.svg" alt="glass">
            </a>
        </div>
        <div class="phone">
            <span>(067) 5-738-738 </span>
            <div class="messenger-block">
                <ul>
                    <li class="messenger-group">
                        <a class="telegram-messenger" href="#"><i class="fab fa-telegram"></i></a>
                        <a class="whatsapp-messenger" href="#"><i class="fab fa-whatsapp"></i></a>
                        <a class="viber-messenger" href="#"><i class="fab fa-viber"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="header-buttom" id="pup-up_feedback">
            <div class="header-btn buttom">
                Заказать звонок
            </div>
        </div>
        <div class="language_block">
            Ru
            <img src="img/language.svg" alt="#">
            <ul class="list_language">
                <li><a href="#">Ru</a></li>
                <li><a href="#">Ua</a></li>
            </ul>
        </div>
        <div class="header-menu">
            <ul>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Доставка и оплата</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </div>
        <div class="header-personal " id="pup-up_login" >
            <div class="user-icon">
                <img src="img/6-Vector.svg" alt="#">
            </div>
            <div class="decree">
                <a href="#">Войти</a>
            </div>
        </div>
        <div class="header-basket " id="pup-up_basket">
            <div class="basket-icon">
                <img src="img/7-Vector.svg" alt="#">
            </div>
            <div class="decree">
                <a href="#">Корзина</a>
            </div>
        </div>
        <div class="burger-menu header_burger-menu">
            <span></span>
        </div>
    </div>
    <div class="header-burger_list">
        <div class="header-burger_top-row">
            <ul>
                <li><a href="#">БИЗНЕС - КНИГИ</a></li>
                <li><a href="#">КОЖАНЫЕ И ЭЛИТНЫЕ ИЗДАНИЯ</a></li>
                <li><a href="#">ЮРИДИЧЕСКАЯ ЛИТЕРАТУРА</a></li>
                <li><a href="#"> ВСЕ КНИГИ</a>
                    <img id="mobil_burger_book" src="img/9.svg" alt="#">
                </li>
            </ul>
        </div>
        <div class="header-burger_bottom-row">
            <div class="header-menu">
                <ul>
                    <li><a href="#">Новости</a></li>
                    <li><a href="#">Доставка и оплата</a></li>
                    <li><a href="#">Контакты</a></li>
                </ul>
            </div>
            <div class="phone">
                <span>(067) 5-738-738 </span>
                <div class="messenger-block">
                    <ul>
                        <li class="messenger-group">
                            <a class="telegram-messenger" href="#"><i class="fab fa-telegram"></i></a>
                            <a class="whatsapp-messenger" href="#"><i class="fab fa-whatsapp"></i></a>
                            <a class="viber-messenger" href="#"><i class="fab fa-viber"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-buttom" id="pup-up_feedback2">
                <a class="header-btn buttom" href="#">
                    Заказать звонок
                </a>
            </div>
            <div class="header-social_group">
                <a class="header-social_facebook" href="#"><i class="fab fa-facebook-f"></i></a>
                <a class="header-social_instagram" href="#"><i class="fab fa-instagram"></i></a>
            </div>
            <div class="language_block">
                Ru
                <img src="img/language.svg" alt="#">
                <ul class="list_language">
                    <li><a href="#">Ru</a></li>
                    <li><a href="#">Ua</a></li>
                </ul>
            </div>
            <div class="header-personal" id="pup-up_login2">
                <div class="user-icon">
                    <img src="img/6-Vector.svg" alt="#">
                </div>
                <div class="decree">
                    <a href="#">Войти</a>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation">
        <div class="container d-flex custom-container">
            <nav class="nav">
                <ul>
                    <li><a href="#">БИЗНЕС - КНИГИ</a></li>
                    <li><a href="#">КОЖАНЫЕ И ЭЛИТНЫЕ ИЗДАНИЯ</a></li>
                    <li><a href="#">ЮРИДИЧЕСКАЯ ЛИТЕРАТУРА</a></li>
                    <li><a href="#"> ВСЕ КНИГИ</a>
                        <div class="burger-menu burger_book">
                            <span></span>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="search">
                <form>
                    <button type="submit" class="search-button">
                        <img src="img/8-Vector.svg" alt="glass">
                    </button>
                    <input type="text" placeholder="Поиск" class="search-input">
                    <img class="btn-down" src="img/9.svg" alt="#">
                </form>
            </div>
        </div>
    </div>
    <div class="navigation navigation-fixed ">
        <div class="container custom-container fixed-none">
            <div class="logo">
                <a href="#"><img src="img/1-logo.svg" alt="#"></a>
            </div>
            <nav class="nav">
                <ul>
                    <li style="border-left: 1px solid #B7B7B7;"><a href="#">БИЗНЕС - КНИГИ</a></li>
                    <li><a href="#">КОЖАНЫЕ И ЭЛИТНЫЕ ИЗДАНИЯ</a></li>
                    <li><a href="#">ЮРИДИЧЕСКАЯ ЛИТЕРАТУРА</a></li>
                </ul>
            </nav>
            <div class="search">
                <form>
                    <button type="submit" class="search-button">
                        <img src="img/8-Vector.svg" alt="glass">
                    </button>
                    <input type="text" placeholder="Поиск" class="search-input">
                    <img class="btn-down btn-down_fixed" src="img/9.svg" alt="#">
                </form>
            </div>
            <div class="header-basket align-items-center basket-fixed">
                <div class="basket-icon">
                    <img src="img/7-Vector.svg" alt="#">
                </div>
                <div class="decree">
                    <a href="#">Корзина</a>
                </div>
            </div>
        </div>
    </div>
    <div class="advanced-search advanced-search_fixed">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12 offset-sm-1 col-sm-10 offset-md-0 col-md-12 offset-lg-0 col-lg-3 advanced-search_title">
                    Расширенный поиск
                </div>
                <div class="col-12 offset-sm-1 col-sm-10 offset-md-0 col-md-4 offset-lg-0 col-lg-3">
                    <div class="caption">
                        По жанрам
                    </div>
                    <select name="select" class="advanced-search_select">
                        <option value="1">Бизнес</option>
                        <option value="2">Право</option>
                        <option value="3">Детективы</option>
                        <option value="4">Фантастика</option>
                        <option value="5">Психология</option>
                    </select>
                    <hr class="line_top">
                    <div class="caption">
                        По подборкам
                    </div>
                    <select name="select" class="advanced-search_select">
                        <option value="1">Бизнес</option>
                        <option value="2">Право</option>
                        <option value="3">Детективы</option>
                        <option value="4">Фантастика</option>
                        <option value="5">Психология</option>
                    </select>
                </div>
                <div class="col-12 offset-sm-1 col-sm-10 offset-md-0 col-md-4 offset-lg-0 col-lg-3">
                    <hr class="line_top">
                    <div class="advanced-search_check-box">
                        <input type="checkbox" id="information-1" name="info" value="1">
                        <label for="information-1">По популярности</label>
                    </div>
                    <div class="advanced-search_check-box">
                        <input type="checkbox" id="information-2" name="info" value="1">
                        <label class="label-margin" for="information-2">По новинкам</label>
                    </div>
                    <hr class="line_top">
                    <div class="caption">
                        По цене
                    </div>
                    <select name="select" class="advanced-search_select">
                        <option value="1">Бизнес</option>
                        <option value="2">Право</option>
                        <option value="3">Детективы</option>
                        <option value="4">Фантастика</option>
                        <option value="5">Психология</option>
                    </select>
                    <div class="price-range">
                        <div id="price_range" ></div>
                        <div id="price_show" class="value"> 700-2500</div>
                    </div>
                </div>
                <div class="col-12 offset-sm-1 col-sm-10 offset-md-0 col-md-4 offset-lg-0 col-lg-3">
                    <hr class="line_top">
                    <div class="caption">
                        Поиск по автору
                    </div>
                    <input type="text" placeholder="Введите имя автора" class="advanced-search_input">
                    <img class="advanced-search_glass" src="img/8-Vector.svg" alt="glass">
                    <span class="author">Напр. Виктор Гюго</span>
                    <hr class="line_top">
                    <button class="advanced-search_find buttom" type="submit">
                        Найти
                    </button>
                    <div class="advanced-search_dump">
                        <a href="#" >
                            Cбросить
                        </a>
                    </div>
                    <div class="advanced-search_close-button ">
                        <a href="#" >
                            <img src="img/close-btn.svg" alt="close-btn">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobil_search-list">
        <div class="mobil_search search">
            <form>
                <input type="text" placeholder="Поиск" class="search-input">
                <button type="submit" class="search-button">
                    <img src="img/8-Vector.svg" alt="glass">
                </button>
            </form>
        </div>
        <div class="mobil_advanced-search" >
            Расширенный поиск <img class="btn-down" id="mobil_btn-down" src="img/9.svg" alt="#">
        </div>
    </div>
    <div class="burger-menu__list-book">
        <div class="container custom-container">
            <div class="row">
                <div class="col-12 col-md-4 all-books">
                    <div class="mobil_exit">
                        <img src="img/exit.svg" alt="#">
                    </div>
                    <ul>
                        <li><a href="#">Кодекси України (з останніми змінами)</a></li>
                        <li><a href="#">Бізнес-книги українською</a></li>
                        <li><a href="#">Книги по организации производства</a></li>
                        <li><a href="#">Книги по маркетингу</a></li>
                        <li><a href="#">Книги для нотариусов</a></li>
                        <li><a href="#">Книги для копирайтеров и писателей,сценаристов</a></li>
                        <li><a href="#">Rниги для художников</a></li>
                        <li><a href="#">Книги по переговорам</a></li>
                        <li><a href="#">Книги по менеджменту, лидерству, корпоративной культуре</a></li>
                        <li><a href="#">Школьные учебники для 1-11 классов</a></li>
                        <li><a href="#">Книги путеводители</a></li>
                        <li><a href="#">Книги по спорту, похудению и диетам</a></li>
                        <li><a href="#">Руклама, PR, брендинг</a></li>
                        <li><a href="#">Книги об Успехе</a></li>
                        <li><a href="#">Книги для Женщин</a></li>
                        <li><a href="#">Скетчбуки. Блокноты. Ежедневники</a></li>
                        <li><a href="#">Книги для развития и воспитания дитей</a></li>
                        <li><a href="#">Книги по психологии</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 all-books">
                    <ul>
                        <li><a href="#">Кодекси України (з останніми змінами)</a></li>
                        <li><a href="#">Бізнес-книги українською</a></li>
                        <li><a href="#">Книги по организации производства</a></li>
                        <li><a href="#">Книги по маркетингу</a></li>
                        <li><a href="#">Книги для нотариусов</a></li>
                        <li><a href="#">Книги для копирайтеров и писателей,сценаристов</a></li>
                        <li><a href="#">Rниги для художников</a></li>
                        <li><a href="#">Книги по переговорам</a></li>
                        <li><a href="#">Книги по менеджменту, лидерству, корпоративной культуре</a></li>
                        <li><a href="#">Школьные учебники для 1-11 классов</a></li>
                        <li><a href="#">Книги путеводители</a></li>
                        <li><a href="#">Книги по спорту, похудению и диетам</a></li>
                        <li><a href="#">Руклама, PR, брендинг</a></li>
                        <li><a href="#">Книги об Успехе</a></li>
                        <li><a href="#">Книги для Женщин</a></li>
                        <li><a href="#">Скетчбуки. Блокноты. Ежедневники</a></li>
                        <li><a href="#">Книги для развития и воспитания дитей</a></li>
                        <li><a href="#">Книги по психологии</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-4 all-books">
                    <ul>
                        <li><a href="#">Кодекси України (з останніми змінами)</a></li>
                        <li><a href="#">Бізнес-книги українською</a></li>
                        <li><a href="#">Книги по организации производства</a></li>
                        <li><a href="#">Книги по маркетингу</a></li>
                        <li><a href="#">Книги для нотариусов</a></li>
                        <li><a href="#">Книги для копирайтеров и писателей,сценаристов</a></li>
                        <li><a href="#">Rниги для художников</a></li>
                        <li><a href="#">Книги по переговорам</a></li>
                        <li><a href="#">Книги по менеджменту, лидерству, корпоративной культуре</a></li>
                        <li><a href="#">Школьные учебники для 1-11 классов</a></li>
                        <li><a href="#">Книги путеводители</a></li>
                        <li><a href="#">Книги по спорту, похудению и диетам</a></li>
                        <li><a href="#">Руклама, PR, брендинг</a></li>
                        <li><a href="#">Книги об Успехе</a></li>
                        <li><a href="#">Книги для Женщин</a></li>
                        <li><a href="#">Скетчбуки. Блокноты. Ежедневники</a></li>
                        <li><a href="#">Книги для развития и воспитания дитей</a></li>
                        <li><a href="#">Книги по психологии</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>