.burger-menu{
  height: 14px;
  width: 20px;
  position: relative;
  display: inline-block;
  vertical-align: sub;
  margin-left: 10px;
  cursor: pointer;
  left: 0;
}
.burger-menu span{
  content: " ";
  background-color: $primery-text-color;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 6px;
  transition: all 0.4s;
}
.burger-menu:before,
.burger-menu:after{
  content: " ";
  background-color: $primery-text-color;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.4s;
}
.burger-menu:before{
  top: 0;
}
.burger-menu:after{
  bottom: 0;
}
.burger_book.burger-active span,
.header_burger-menu.burger-active span{
  transform: scale(0);
}
.burger_book.burger-active:before,
.header_burger-menu.burger-active:before{
  transform: rotate(45deg);
  top: 6px;
}
.burger_book.burger-active:after,
.header_burger-menu.burger-active:after{
  transform: rotate(-45deg);
  bottom: 6px;
}
.header_burger-menu{
  display: none;
}
.header-burger_list{
  display: none;
  position: absolute;
  width: 100%;
  background: #FFFFFF;
  border-top: 1px solid #B7B7B7;
  z-index: 5;
  .header-burger_top-row{
    padding: 30px 0 0 0;
    text-align: center;
    display: none;
    li{
      padding: 14px 0;
      a{
        text-decoration: none;
        color: $primery-text-color;
        font-size: 17px;
      }
    }
  }
  .header-burger_bottom-row{
    padding: 15px 0;
    background: #F8F8FA;
    .header-social_group{
      text-align: center;
      margin-bottom: 15px;
      .header-social_facebook,
      .header-social_instagram{
        border: 1px solid #7B7777;
        position: relative;
        text-align: center;
        color: #C1C6D0;
        width: 35px;
        height: 35px;
        display: inline-block;
        vertical-align: top;
        margin-right: 8px;
        border-radius: 20px;
        i{
          color: #647CB4;
          margin-top: 6px;
          margin-right: 0;
        }
      }
      .header-social_instagram{
        i{
          color: #CE4C9A;
        }
      }
    }
  }
}
.burger-menu__list-book{
  display: none;
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 3;
  .mobil_exit{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

  }
  .all-books{
    padding: 30px 20px;
    li{
      padding: 5px 0;
      a{
        text-decoration: none;
        font-family: $secondary-font;
        color: $primery-text-color;
        font-size: 17px;
        line-height: 204%;
        &:hover{
          text-decoration-line: underline;
        }
      }
    }
  }
}
#mobil_burger_book{
  margin-left: 6px;
  transform: rotate(-180deg);
  transition: all 0.5s;
  &.btn-down_active{
    transform: rotate(0deg);
  }
}