.services-block{
	padding: 22px 0 0 0;
	display: block;
	.services-block-one{
		background: #F8F8FA;
		border-radius: 7px;
		text-align: center;
   		padding: 14px 9px;
    	min-height: 190px;
    	height: 100%;
		img{
			display: block;
    		margin: 20px auto 17px auto;
		}
		.text{
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 16px;
			line-height: 21px;
			color: $primery-text-color;
		}
	}
}
.subscription-block{
	margin: 30px 0;
	border: 1px solid #E6E6E6;
	.subscription{
		position: relative;
		padding: 35px 25px 35px 130px;
		.sale{
			width: 95px;
			height: 100%;
			background: #484F61;
			position: absolute;
			top: 0;
			left: 0;
			font-weight: 700;
			font-size: 18px;
			span{
				transform: rotate(-90deg);
				color: #ffffff;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 95px;
				height: 20px;
				margin: auto;
				letter-spacing: 6.3px;
				display: block;
			}
		}
		.title{
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 20px;
			line-height: 131.3%;
			color: $primery-text-color;
			margin-bottom: 20px;
		}
		.input-block{
			position: relative;
			width: 83%;
			.input-mail{
				border: 1px solid #C2C2C2;
				padding-left: 23px;
				padding-right: 110px;
				height: 49px;
				width: 100%;
				box-sizing:border-box;
				border-radius: 3px;
				outline: none;
				font-family: $secondary-font;
				font-weight: 300;
				font-size: 17px;
				line-height: 131.3%;
				color: #616161;
			}
			.submit-mail{
				height: 49px;
				width: 110px;
				border: none;
				border-top-right-radius: 3px;
    			border-bottom-right-radius: 3px; 
				position: absolute;
				top: 0;
				right: 0;
				background: $btn-normal;
				outline: none;
			}
			.check-box{
				margin-top: 15px;
				input{
					display: none;
					margin-right: 10px;
				}
				label{
					cursor: pointer;
					
				}
			}
			.check-box input[type=checkbox] + label:before{
				content: "";
				width: 20px;
				height: 20px;
				display: inline-block;
				border: 1px solid #000;
				font-size: 20px;
				text-align: center;
				vertical-align: middle;
				margin: -5px 5px 0 0;
			}
			.check-box input[type=checkbox]:checked + label:before{
				color: #000000;
				background: url(../img/check.png) no-repeat center center;
			}
		}
	} 
	.best-subscription{
		padding: 30px 0 0 60px;
		background: #F2F1F8;
		position: relative;
		.best-product{
			position: absolute;
			top: -10px;
			right: 0;
		}
		.title{
			font-family: $primery-font;
			font-weight: 900;
			font-size: 38px;
			line-height: 131.3%;
			color: $primery-text-color;
			margin-bottom: 10px;
		}
		.subtitle{
			font-family: $secondary-font;
			font-weight: 500;
			font-size: 23px;
			line-height: 131.3%;
			color: $primery-text-color;
			margin-bottom: 20px;
		}
		.price-block{
			.price-button{
				width: 166px;
				border: 1.8px solid #2D9E1A;
				border-radius: 92px;
				background: none;
				padding: 12px 17px;
				font-family: $secondary-font;
				font-weight: bold;
				font-size: 16px;
				text-align: center;
				line-height: 19px;
				color: $primery-text-color;
				box-sizing:border-box;
				cursor: pointer;
				text-decoration: none;
				vertical-align: top;
				display: inline-block;
			}
			.price{
				font-family: $primery-font;
				font-weight: 900;
				font-size: 26px;
				line-height: 131.3%;
				color: $primery-text-color;
				margin-left: 12px;
				display: inline-block;
				vertical-align: top;
			}
		}
	}
}
.news-events__block{
	background: #484F61;
	padding: 80px 0 93px 0;
	.title{
		font-family: $primery-font;
		font-size: 30px;
		font-weight: bold;
		line-height: 44px;
		letter-spacing: 3.3px;
		text-align: center;
		margin-bottom: 40px;
		color: #fff;
	}
	.news-block{
		background: url(../img/hero.png) no-repeat center center;
		background-size: cover;
		color: #fff;
		min-height: 380px;
		position: relative;
		.news-group{
			width: 100%;
			height: 100%;
			position: absolute;
			transition: all 0.6s;
			.data-views{
				transition: all 0.6s;
				position: absolute;
				top: 15px;
				left: 25px;
				width: calc(100% - 50px);
				font-weight: 700;
				font-size: 16px;
				line-height: 19px;
				font-family: $secondary-font;
				.eye{
					position: absolute;
					right: 0;
				}
			}
			.title-news{
				transition: all 0.6s;
				padding: 0 25px;
				position: absolute;
				font-family: $primery-font;
				font-style: normal;
				font-weight: 700;
				font-size: 24px;
				top: 143px;
				text-align: center;
				a{
					text-decoration: none;
					color: #fff;
				}
			}
			.hashtag{
				position: absolute;
				bottom: 15px;
				left: 25px;
				font-weight: normal;
				font-size: 18px;
				line-height: 22px;
				font-style: italic;
				font-family: $secondary-font;
			}
		}
		&:hover .news-group{
			.data-views{
				top: 180px;
				transition: all 0.6s;
			}
			.title-news{
				top: 225px;
				transition: all 0.6s;
				background: #fff;
				height: 156px;
				width: 100%;
				font-size: 23px;
				text-align: left;
				color: $primery-text-color;
				padding: 25px 25px 29px 25px;
				a{
					text-decoration: none;
					color: $primery-text-color;
				}
			}
			.hashtag{
				color: $primery-text-color;
				transition: all 0.6s;
			}
		}
	}
}
.block-process{
	.left-img{
		position: absolute;
		left: -25%;
		top: 0;
	}
	.right-img{
		position: absolute;
		right: -20%;
		top: 0;
	}
	.process-title{
		font-family: $primery-font;
	    font-weight: 700;
	    font-size: 30px;
	    line-height: 44px;
	    letter-spacing: 3.3px;
	    margin-top: 70px;
	    margin-bottom: 21px;
	    color: $primery-text-color;
	    text-align: center;
	}
	.process-subtitle{
	    text-align: center;
	    font-family: "Lato",sans-serif;
	    margin-bottom: 30px;
	    font-size: 23px;
	    line-height: 131.3%;
	}
	.steps-block{
		position: relative;
		padding-bottom: 105px;
		hr{
			position: absolute;
		    height: 3px;
		    background: #767E92;
		    width: 100%;
		    top: 42px;
		    left: 15%;
		}
		.step{
			text-align: center;
			position: relative;
			width: 100%;
			min-height: 1px;
			.step-img{
				margin: 0 auto 17px;
			    position: relative;
			    background: #435275;
			    border-radius: 50%;
			    height: 117px;
			    width: 117px;
			    img{
			    	position: absolute;
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    margin: auto;
			    }
			}
			.step-number{
				font-family: $primery-font;
			    color: #2A610F;
			    font-weight: 700;
			    font-size: 22px;
			    line-height: 131.3%;
			    margin-bottom: 10px;
			}
			.step-description{
				font-family: $secondary-font;
			    font-weight: 700;
			    font-size: 18px;
			    line-height: 131.3%;
			    color: $primery-text-color;
			    padding: 0 5px;
			}
		}	
	}
}
.seo-block{
	background: #F8F8FA;
	.seo-block-one{
		text-align: center;
		color: $primery-text-color;
		.seo-block-subtitle{
			font-family: $secondary-font;
			font-size: 23px;
			line-height: 131.3%;
			margin-bottom: 40px;
		}		
	}
	.seo-block-title{
		margin-top: 75px;
		font-family: $primery-font;
		font-weight: 700;
		font-size: 31px;
		line-height: 44px;
		margin-bottom: 16px;
		text-align: center;
	}
	.seo-block-text{
		font-family: $secondary-font;
		font-size: 18px;
		line-height: 35px;
		padding-bottom: 65px;
		font-style: normal;
		font-weight: normal;
	}
	.hr{
		height: 1px;
		background: #80899F;
	}
	.seo-block-two{
		padding-bottom: 100px;
	}
	.seo-block_skin{
		margin-bottom: 30px;
	}
    .seo-block-item{
    	font-family: $secondary-font;
    	font-weight: 700;
	    font-size: 20px;
	    padding-bottom: 20px;
	    img{
	    	margin-top: 10px;
	    }
    }
}