.footer{
	color: #9298A6;
    background: #333947;
    font-family: $secondary-font;
    padding: 40px 0 45px 0;
    .copyright{
    	font-weight: 300;
    	font-size: 15px;
    	line-height: 37px;
    	margin-top: 15px;
    }
    .footer-title{
    	color: #F0F0F0;
	    font-weight: 700;
	    font-size: 17px;
	    line-height: 20px;
	    margin-bottom: 20px;
    }
    li{
    	font-size: 16px;
    	margin-bottom: 20px;
    	a{
    		color: #9298A6;
    		text-decoration: none;
    		&:hover{
    			color: #F0F0F0;
    		}
    	}
    }
    .underline{
    	text-decoration-line: underline;
    }
    i{
    	font-size: 20px;
    	color: #7D9756;
    	margin-right: 10px;
    }
    .footer-social{
    	position: relative;
    	text-align: center;
    	color: #C1C6D0;
    	width: 35px;
    	height: 35px;
    	border: 1px solid #D0D0D0;
    	display: inline-block;
    	vertical-align: top;
    	margin-right: 8px;
    	border-radius: 20px;
    	i{
    		color: #C1C6D0;
    		margin-top: 6px;
    		margin-right: 0;
    	}
    }
    .footer-contact{
    	color: #fff;
	    font-weight: 700;
	    font-size: 19px;
	    margin-bottom: 20px;
    }
    .social-group{
    	float: right;
    	margin-right: 15px;
    }
}