body{
	overflow-x:hidden;
	img{
		max-width: 100%;
	}
	ul{
		list-style: none;
	}	
    input{
        outline: none;
    } 
}
.custom-container{
	position: relative;
	max-width: 1350px;
}
.buttom{
	min-width: 166px;
    text-decoration: none;
    cursor: pointer;
	border: 1.8px solid #2D9E1A;
    box-sizing: border-box;
    border-radius: 92px;
    font-family: "Lato",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #242935;
    padding: 12px 17px;
}
.checkbox input[type=checkbox] + label:before{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #E2E6EA;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    margin: -5px 0 0 7px;
    background: #ffffff;
}
.checkbox input[type=checkbox]:checked + label:before{
    color: #000000;
    background-image: url(../img/check.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
}
.line_top{
    border-top: 1px solid #DBDEE8;
    width: 100%;
    display: none;
}
