.d-flex{
	display: flex!important;
}	
.header{
	padding: 8px 0 0 0;
    .logo{
        max-width: 185px;
    	margin-right: 25px;
    }
	.phone{
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		text-align: right;
		color: #040D21;
		display: inline-block;
        vertical-align: top;
        padding-right:22px
	}
	.messenger-block{
		text-align: right;
		font-size: 20px;
		line-height: 22px;
		margin-top: 7px;
		a{
			text-decoration: none;
			margin-left: 10px;
		}
		.telegram-messenger{
			color: #33A2D9;
		}
		.whatsapp-messenger{
			color: #229B1F;
		}
		.viber-messenger{
			color: #873395;
		}
	}
	.header-buttom{
		margin-right: 35px;
	}
	.language_block{
		font-family: $secondary-font;
		font-size: 18px;
		line-height: 22px;
		color: $primery-text-color;
		margin-right: 35px;
		position: relative;
		cursor: pointer;			
		img{
			transition: all 0.5s;
		}
		&.active{
			img{
				transform: rotate(180deg);
			}	
		}
		.list_language{
			z-index: 1;
			display: none;
			cursor: pointer;
			padding: 5px 15px 5px 5px;
			background: #fff;
			top: 20px;
			left: -5px;
			list-style: none;
			position: absolute;
			a{
				text-decoration: none;
				font-family: $secondary-font;
				font-size: 18px;
				line-height: 22px;
				color: $primery-text-color;
			}
		}
	}
	.header-menu{
		margin-right: 35px;
		ul{
			li{
				display: inline-block;
				padding-right: 25px;
				vertical-align: top;
				a{
					text-decoration: none;
					font-family: $secondary-font;
					font-size: 17px;
					color: $primery-text-color;
				}
			}
		}
	}
	.header-personal{
		font-weight: 700;
    	margin-right: 35px;
    	font-size: 18px;
    	font-family: $secondary-font;
    	display: flex;
		align-items: center;
	}
	.header-basket{
		font-weight: 700;
    	font-size: 18px;
    	font-family: $secondary-font;
    	display: flex;
		align-items: center;
	}
	.user-icon, .basket-icon{
		background: #F4F5FB;
		margin-right: 7px;
    	border-radius: 50px;
    	height: 52px;
    	width: 52px;
    	position: relative;
    	cursor: pointer;
    	img{
    		height: 22px;
    		width: 22px;
    		position: absolute;
    		left: 0;
    		right: 0;
    		bottom: 0;
    		top: 0;
    		margin: auto;
    	}
	}
	.decree{
		a{
			font-family: $secondary-font;
			font-weight: bold;
			font-size: 18px;
			color: $primery-text-color;
			text-decoration: none;
		}
	}
	.navigation{
		margin-top: 10px;
		border-bottom: 1px solid #B7B7B7;
    	border-top: 1px solid #B7B7B7;
    	overflow: hidden;
    	.nav{
    		width: calc(100% - 280px);
    		font-size: 0;
    		padding-left: 15px;
    	}
		ul{
			text-align: center;
    		width: 100%;
    		display: table;
    		line-height: 20px;
    		list-style: none;
			li{
			    display: table-cell;
			    vertical-align: middle;
			    text-transform: uppercase;
			    padding: 24px 25px;
			    border-right: 1px solid #B7B7B7;
			    a{
			    	color: $primery-text-color;
			    	font-family: $secondary-font;
					font-size: 15px;
				    font-weight: 700;
				    text-decoration: none;
			    }
			}
		}
	}
	.navigation-fixed{
		display: none;
		position: fixed;
	    background: #fff;
	    z-index: 3;
	    width: 100%;
	    top: 0;
	    margin-top: 0;
		.fixed-none{
			display: flex;
			align-items: center;
		}
	    .nav{
	    	padding-left: 0;
	    	ul{
	    		li{
	    			padding: 23px 17px;
	    			border-right: 1px solid #B7B7B7;
	    		}
	    	}
	    }
	    .search{
	    	min-width: 310px;
	    	margin-right: 20px;
	    	border-right: 1px solid #B7B7B7;
	    	height: 74px;
	    	&:before{
	    		display: none;
	    	}
	    	.search-button{
	    		left: 20px;
	    	}
	    	.search-input{
	    		padding: 28px 10px 22px 60px;
	    	}
	    	.btn-down{
	    		right: 20px;
	    	}
	    }
	}
}


