.overlay{
	position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(14,1,1,0.28);
    z-index: 4;
    margin-top: 76px;
    display: none;
}
.pop-up{
	font-family: $secondary-font;
	color: $primery-text-color;
    border: 0.5px solid #B7B7B7;
    border-right: none; 
	background: #fff;
    position: absolute;
    z-index: 4;
    margin: auto;
    .title{
    	font-weight: 700;
    	font-size: 20px;
    	line-height: 44px;
    }
    label{
    	font-weight: 700;
    	font-size: 17px;
    	line-height: 20px;
    	display: block;
    	margin-bottom: 8px;
    }
    input{
    	font-size: 17px;
    	line-height: 20px;
        height: 49px;
    	border: 1px solid #CACACA;
    	box-sizing: border-box;
    	padding-left: 20px;
    	margin-bottom: 20px;
    	width: 100%;
    	display: block;
    }
    .social_pop-up{
    	.facebook-btn{
    		background: #45629B;
    		margin-top: 12px;
    		border-radius: 4px;
    		width: 167px;
    		cursor: pointer;
    	}
    	.google-btn{
    		margin-bottom: 100px;
    		background: #4688F1;
    		margin-top: 12px;
    		border-radius: 4px;
    		width: 167px;
    		cursor: pointer;
    	}
    	a{
    		text-decoration: none;
    		line-height: 38px;
    		color: #fAfAfA;
    		font-size: 16px;
    	}
    	i{
    		padding: 0 15px;
    	}
    	img{
    		padding: 0 15px;
    		border-radius: 10px; 
    	}
    }
    .exit{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }
}
.login-page{
    max-width: 866px;
    display: none;
    padding:25px 60px 45px 50px;
    top: 75px;
    right: 0;
    left: 47%;
    position: fixed;
     &:before{
         top: 0;
         content: "";
         display: block;
         position: absolute;
         height: 100%;
         width: 50vw;
         left: 100%;
         background: #fff;
     }
    .login__title{
    	text-align: left;
    	margin-bottom: 16px;
    }
    .login__form{
    	width:50% ;
    	padding-right: 50px;
    	border-right: 1px solid #EAE9E9;
    	float: left;
    	.forget_password{
    		margin-bottom: 20px;
    		a{
    			font-family: $secondary-font;
    			color: #858A95;
    			font-size: 15px;
    			line-height: 18px;
    			text-decoration-line:underline;
    		}
    	}
    	.login__check-box{
    		line-height: 18px;
			margin-bottom: 30px;
			input{
				display: none;
				margin-left: 10px;
			}
			label{
				cursor: pointer;
			}
    	}
    	.login__check-box input[type=checkbox] + label:before{
    		margin: -5px 5px 0 0px;
    		background: #ffffff;
    	}
    	.login__check-box input[type=checkbox]:checked + label:before{
    		background-image: url(../img/login-checkbox.svg);
    		background-color: #7D9756;
    		background-repeat: no-repeat;
    		background-position: center center;
    	}
    	.login__buttom{
    		background:$btn-normal;
    		border: none; 
    		outline: none;
    		display: inline-block; 
    		color: #fff;
    	}
    	.login_exit{
    		display: inline-block;
    		margin-left: 30px;
    		cursor: pointer;
    	}
    }
    .login__social{
    	width: 50%;
    	padding-left: 50px;
    	float: right;
    	.description{
    		font-size: 16px;
    		line-height: 19px;
    		color: #858A95;
    	}
    	.registr{
    		a{
    			color: $primery-text-color;
    			text-decoration-line: underline; 
    		}
    	}
    }
}
.registr-page{
	max-width: 1000px;
	padding: 35px 60px 50px 60px;
    top: 76px;
	right: 0;
    left: 46%;
	display: none;
    position: fixed;
    &:before{
         top: 0;
         content: "";
         display: block;
         position: absolute;
         height: 100%;
         width: 50vw;
         left: 100%;
         background: #fff;
     }
	.registr__title{
		text-align: left;
		margin-bottom: 16px;
	}
	.registr__form{
		width:50% ;
		padding-right: 50px;
		border-right: 1px solid #EAE9E9;
		float: left;
		.registr__symbol{
			margin-top: 5px;
			.symbol{
				background-image: url(../img/symbol.png); 
				background-repeat: no-repeat;
				background-position: left center;
				width: 49%;
				padding: 25px 0;
				display: inline-block;
				vertical-align: top;
				margin-right: 1%;
			}
			input{
				width: 49%;
				display: inline-block;
				vertical-align: middle;
			}
		}
		.registr__check-box{
    		line-height: 18px;
			margin-bottom: 30px;
			input{
				display: none;
				margin-left: 10px;
			}
			label{
				cursor: pointer;
				font-size: 14px;
			}
			a{
				color: $primery-text-color;
				text-decoration-line: underline;
				font-size: 14px; 
			}
		}
		.registr__check-box input[type=checkbox] + label:before{
			margin: -5px 5px 0 0px;
			background: #ffffff;
		}
		.registr__check-box input[type=checkbox]:checked + label:before{
			background-image: url(../img/login-checkbox.svg);
			background-color: #7D9756;
			background-repeat: no-repeat;
			background-position: center center;
		}
		.lregistr__buttom{
			background:$btn-normal;
			border: none; 
			outline: none;
			display: inline-block; 
			color: #fff;
		}
		.registr_exit{
			display: inline-block;
			margin-left: 30px;
			cursor: pointer;
		}
	}
	.registr__social{
		width:50% ;
		padding-left: 50px;
		float: right;
		label{
			max-width: 170px;
            font-size: 16px;
		}
	}
}
.basket-page{
    max-width: 492px;
    padding: 35px 60px 50px 60px;
    top: 75px;
    right: 0;
    left: 50%;
    display: none;
    position: fixed;
    &:before{
        top: 0;
        content: "";
        display: block;
        position: absolute;
        height: 100%;
        width: 50vw;
        left: 99%;
        background: #fff;
    }
}
.basket-form{
    .basket_exit{
        margin-bottom: 40px;
        cursor: pointer;
        i{
            font-size: 18px;
            line-height: 18px;
            margin-left: 10px;
            vertical-align: middle;
        }
    }
    .product-group{
        margin-bottom: 10px;
        .product-img{
            display: inline-block;
            vertical-align: top;
            padding-right: 30px;
            float: left;
        }
        .name-product{
            font-style: normal;
            font-weight: 700;
            font-size: 17px;
            line-height: 20px;
            margin-bottom: 10px;
            width: 76%;
            display: inline-block;
            vertical-align: top;
        }
        .product-aside{
            display: inline-block;
            vertical-align: top;
            width: 76%;
            .control-product{
              display: flex;
              justify-content: space-between;
                .price-product{
                    font-family: $primery-font;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 33px;
                    display: inline-block;
                    vertical-align: top;
                    span{
                        font-size: 25px;
                        line-height: 33px;
                    }
                }
                .calc-product{
                    text-align: center;
                    font-size: 0;
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 10px;
                    input{
                        padding-bottom: 5px;
                        height: 23px;
                        cursor: pointer;
                        text-align: center;
                        font-size: 21px;
                        width: 25px;
                        display: inline-block;
                        vertical-align: top;
                        background: #F4F5FB;
                        border: 0.5px solid #D4D4D4;
                        box-sizing: border-box;
                        padding-left: 0;
                        margin-bottom: 0;
                    }
                    .minus{
                        border-radius: 15px 0 0 15px;
                    }
                    .value{
                        font-family: $primery-font;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 28px;
                        padding-bottom: 8px;
                    }
                    .plus{
                        border-radius: 0 15px 15px 0;
                    }
                }
                .delete-product{
                    text-align: right;
                    font-size: 0;
                    display: inline-block;
                    vertical-align: top;
                    margin-top: 13px;
                }
            }
        }
    } 
    .product__total-coust{
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        margin: 40px 0 30px 0;
        padding: 20px 0;
        .product-total{
            display: inline-block;
            vertical-align: top;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
        }
        .product-coust{
            display: inline-block;
            font-style: normal;
            font-family: $primery-font;
            font-weight: 700;
            font-size: 18px;
            line-height: 19px;
            vertical-align: top;
            span{
                font-weight: 700;
                font-size: 25px;
                line-height: 19px;
            }
        }
    }
    .product__button{
        display: flex;
        justify-content: space-between;
    }
    .product-bay-btn{
        background:$btn-normal;
        border: none; 
        outline: none; 
        color: #fff;
    }
}
.feedback-page{
    display: none;
    position: fixed;
    z-index: 5;
    padding: 50px 30px 65px 30px;
    left: 9px;
    right: 9px;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 577px;
    max-height: 412px;
    .feedback-title{
        text-align: center;
        margin-bottom: 20px;
    }
    .feedback-block{
        width: 70%;
        margin: 0 auto;
    }
    .feedback-btn{
        background:$btn-normal;
        border: none; 
        outline: none; 
        color: #fff;
        margin-top: 8px;
        cursor: pointer;
    }
}
.feedback-up-page{
    display: none;
    max-width: 920px;
    max-height: 450px;
    padding: 45px 65px;
    .feedback-up-title{
        font-size: 24px;
        line-height: 139.8%;
        margin-bottom: 30px;
        text-align: left;
    }
    .feedback-block{
        width: 40%;
        display: inline-block;
        vertical-align: top;
    }
    .feedback-btn{
        width: 40%;
    }
    .feedback-up-commit{
        width: 59%;
        display: inline-block;
        vertical-align: top;
        text-align: left;
        padding-left: 25px;
        textarea{
            width: 100%;
            padding: 15px;
            height: 144px;
            border: 1px solid #CACACA;
            box-sizing: border-box;
        }
    }
}
.pre-order-page{
    display: none;
    max-height: 412px;
    max-width: 966px;
    padding: 45px 65px 83px 65px;
    .basket-form{
        width: 50%;
        border-right: 1px solid #EAE9E9;
        padding-right: 60px; 
        display: inline-block;
        vertical-align: top;
        margin-top: 36px;
        .pre-order_delete-product{
            width: 6%;
            text-align: right;
            font-size: 0;
            display: inline-block;
            vertical-align: top;
            margin-top: 13px;
        }
    }
    .feedback-block{
        display: inline-block;
        vertical-align: top;
        width: 45%;
        padding-left: 60px;
        .feedback-btn{
            width: 80%;
        }
    }
}
.application-page{
    display: none;
    max-width: 524px;
    max-height: 240px;
    padding: 50px 21px 65px 21px;
    position: fixed;
    z-index: 5;
    left: 9px;
    right: 9px;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    .application-title{
        margin-bottom: 28px;
    }
}