.search{
  background: #F4F5FB;
  position: relative;
  max-width: 280px;
  height: 75px;
  &:before{
    position: absolute;
    content: "";
    left: 100%;
    top: 0;
    height: 100%;
    display: block;
    width: 50vw;
    background: #F4F5FB;
  }
  .search-button{
    cursor: pointer;
    height: 20px;
    width: 20px;
    top: 0;
    bottom: 0;
    left: 30px;
    position: absolute;
    background: none;
    outline: none;
    border: none;
    margin: auto;
    padding: 0;
  }
  .search-input{
    font-size: 18px;
    padding: 28px 10px 22px 70px;
    background: none;
    border: none;
    outline: none;
    font-style: italic;
  }
  .btn-down{
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: none;
    outline: none;
    border: none;
    margin: auto;
    padding: 0;
    vertical-align: middle;
    transform: rotate(-180deg);
    transition: all 0.5s;
    &.btn-down_active{
      transform: rotate(0deg);
    }
  }
}
.advanced-search{
  padding: 75px 0 43px 0;
  background: #F4F5FB;
  font-family: $secondary-font;
  color: $primery-text-color;
  font-size: 16px;
  line-height: 19px;
  display: none;
  .advanced-search_title{
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
  }
  .caption{
    margin-bottom: 10px;
  }
  select{
    background-color: #ffffff;
    opacity: 0.83;
    border-radius: 5px;
    border: 1px solid #E2E6EA;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    -webkit-appearance: none;
  }
  .advanced-search_select{
    background-image: url(../img/arrow_down_black.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    margin-bottom: 25px;
  }
  .advanced-search_check-box{
    display: inline-block;
    margin-bottom: 25px;
    input{
      display: none;
      margin-right: 10px;
    }
    label{
      cursor: pointer;
    }
    .label-margin{
      margin-left: 29px;
    }
  }
  .advanced-search_check-box input[type=checkbox] + label:after{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #E2E6EA;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    margin: -5px 0 0 7px;
    background: #ffffff;
  }
  .advanced-search_check-box input[type=checkbox]:checked + label:after{
    color: #000000;
    background-image: url(../img/check.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .price-range{
    .value {
      font-family: $secondary-font;
      font-size: 15px;
      letter-spacing: -0.0825px;
      color: #000000;
      margin-top: 8px;
      text-align: center;
      display: block;
    }
    .ui-widget.ui-widget-content{
      border: none;
    }
    .ui-slider-horizontal{
      height: 5px;
    }
    .ui-widget-header{
      border-radius: 5px;
      outline: 0;
      border: none;
      background: #80899F;
    }
    .ui-state-default{
      background: #69B35D;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      cursor: pointer;
      border: none;
      outline: none;
    }
    .ui-slider-horizontal .ui-slider-handle {
      top: -0.4em;
      margin-left: -.6em;
    }
  }
  .advanced-search_input{
    opacity: 0.83;
    border-radius: 5px;
    border: 1px solid #E2E6EA;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-style: italic;
  }
  .advanced-search_glass{
    position: absolute;
    color: #ABA3A3;
    top: 45px;
    right: 35px;
    width: 19px;
    height: 19px;
  }
  .author{
    font-style: italic;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.0825px;
    margin-top: 5px;
    color: #9B9B9B;
    display: block;
  }
  .advanced-search_find{
    margin-top: 25px;
    background: $btn-normal;
    outline: none;
    border: none;
    color: #fff;
    display: inline-block;
  }
  .advanced-search_dump{
    display: inline-block;
    margin: 0 12px 0 33px;
    text-decoration-line: underline;
    a{
      text-decoration: none;
      font-family: $secondary-font;
      color: $primery-text-color;
      font-size: 16px;
      line-height: 19px;
    }
  }
  .advanced-search_close-button{
    display: inline-block;
    vertical-align: sub;
  }
}
.search_fixed{
  position: fixed;
  z-index: 5;
  right: 0;
  left: 0;
  top: 76px;
}
.mobil_search-icon{
  display: none;
  margin-right: 10px;
}
.mobil_search-list{
  display: none;
  position: fixed;
  top: 75px;
  width: 100%;
  background: #FFFFFF;
  z-index: 5;
  .mobil_search{
    min-width: 100%;
    height: 58px;
    .search-input{
      font-size: 17px;
      padding: 18px 0 19px 25px;
      color: #90939A;
    }
    .search-button{
      right: 20px;
      left: auto;
    }
  }
  .mobil_advanced-search{
    padding: 20px 0 35px 25px;
    font-size: 18px;
    font-weight: bold;
    #mobil_btn-down{
      margin-left: 6px;
      transform: rotate(-180deg);
      transition: all 0.5s;
      &.btn-down_active{
        transform: rotate(0deg);
      }
    }
  }
  .mobil_search:before{
    display: none;
  }
}
.search_mobil{
  position: fixed;
  z-index: 5;
  right: 0;
  left: 0;
  top: 205px;
  height: 30%;
  overflow: scroll;
}
