.slick{
	padding-top: 25px;
	height: 100%;
	width: 100%;
	.slider-wrapper{
		padding: 0 15px;
		outline: none;
	}
	.books-slider{
		height: 360px;
		padding: 20px 0 40px 40px;
	}
	.img-1, .img-2, .img-3{
		.slider-heading{
			font-family: $secondary-font;
			font-size: 12px;
			color: #EEEEEE;
			line-height: 128.3%;
			width: 25%;
		}
		.slider-title{
			font-family: $primery-font;
			font-weight: bold;
			font-size: 33px;
			line-height: 39px;
			letter-spacing: 3.3px;
			color: #FFFFFF;
			margin-top: 30px;
			margin-bottom: 20px;
			text-align: left;
    		width: 85%;
		}
		.slider-text{
			font-family: $secondary-font;
			font-size: 22px;
			color: #FFFFFF;
			line-height: 131.3%;
			font-weight: 300;
			font-style: italic;
			width: 80%;
		}
	}
	.img-1{
		background-image: url(../img/11.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		.slider-heading{
			color: $primery-text-color;
			width: 34%;
		}
		.slider-title{
			color: $primery-text-color;
		}
		.slider-text{
			color: $primery-text-color;
		}
	}
	.img-2{
		background-image: url(../img/12.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		.slider-heading{
			width: 20%;
		}
	}
	.img-3{
		background-image: url(../img/13.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		.slider-heading{
			width: 25%;
		}
	}
	.slick-next {
    	right: calc(33.33333% - 25px);
    	z-index: 2;
    	background: url(../img/23-prew.svg) center center;
    	height: 50px;
    	width: 50px;
    	&:before{
    		content: none;
    	}
	}
	.slick-prev {
    	left: calc(33.33333% - 25px);
    	z-index: 2;
    	background: url(../img/22-next.svg) center center;
    	height: 50px;
    	width: 50px;
    	&:before{
    		content: none;
    	}
	}
}
.slick-dots{
	bottom: 15px;
	li{
		button:before{
			opacity: 1;
			color: #fff;
		}
		&.slick-active{
			button:before{
			opacity: 1;
			color: #E6614F;
			}
		} 
	}
}
.product-book{
	margin-top: 21px;
	padding: 55px 0 72px 0;
	background: #F8F8FA;
	.product-book__title{
		font-family: $primery-font;
		font-weight: bold;
		font-size: 30px;
		letter-spacing: 3.3px;
		color: $primery-text-color;
	}
	.product-book__slider-arrow{
		position: absolute;
		top: 3px;
		left: auto;
		right: 125px;
		cursor: pointer;
		#arrow-left{
			margin-right: 40px;
		}
		#arrow-prew{
			margin-right: 40px;
		}
		#button-prew{
			margin-right: 40px;
		}
	}
	.product-book__slider{
		margin-top: 40px;
		.cell-block{
			padding-right: 30px;
			.novelty{
				position: absolute;
				font-family: $secondary-font;
				font-weight: bold;
				font-size: 12px;
				text-align: right;
			    letter-spacing: 2.3px;
				color: #FFFFFF;
				transform: rotate(-90deg);
				background: #3d649e;
				display: inline-block;
			    padding: 0 5px 0 5px;
			    top: 57px;
    			left: -10px;
			}
			.hit{
				background: #E6614F;
				position: absolute;
				font-family: $secondary-font;
				font-weight: bold;
				font-size: 12px;
				text-align: right;
			    letter-spacing: 2.3px;
				color: #FFFFFF;
				transform: rotate(-90deg);
				display: inline-block;
			    padding: 0 5px 0 5px;
			    top: 35px;
			    left: 10px;
			}
			.elite{
				background: #897869;
				position: absolute;
				font-family: $secondary-font;
				font-weight: bold;
				font-size: 12px;
				text-align: right;
			    letter-spacing: 2.3px;
				color: #FFFFFF;
				transform: rotate(-90deg);
				display: inline-block;
			    padding: 0 5px 0 5px;
			    top: 57px;
			    left: -10px;
			}
		}
		.book-one{
			display: inline-block;
			text-align: center;
			position: relative;
			height: 480px;
			max-width: 268px;
			background: #FFFFFF;
			border: 1px solid #E4E4E4;
			box-sizing: border-box;
			border-radius: 3px;
			padding: 20px 20px 40px 20px;
			&:hover,
			&:active{
				height: 542px;
				transition: all 0.3s;
				.basket{
					opacity: 1;
				}
			}
			.rating{
				margin-top: 15px;
				i{
					color: #F9DAD5;
					font-size: 17px;
					line-height: 20px;
					&.active{
						color: #F97A69;
					}
				}
			}
			.book-one_img{
				width: 150px;
				margin: 0 auto;
				img{
					height: auto;
				}
			}
			.book-name{
				margin-top: 9px;
				font-family: $secondary-font;
				font-size: 18px;
				line-height: 131.3%;
				color: $primery-text-color;
				font-weight: bold;
			}
			.author{
				margin-top: 11px;
				font-family: $primery-font;
				font-style: italic;
				font-weight: bold;
				font-size: 15px;
				color: #80899F;
			}
			.price{
				margin: 4px 0 40px;
				font-family: $primery-font;
				font-weight: 900;
				font-size: 25px;
				color: #242935;
			}
			.basket{
				opacity: 0;
				display: inline-block;
				background: #88B447;
				border-radius: 92px;
				min-width: 166px;
	    		cursor: pointer;
	    		box-sizing: border-box;
	    		padding: 12px 17px;
	    		transition: all 0.6s;
	    		a{
	    			text-decoration: none;
	    			font-family: $secondary-font;
					font-weight: bold;
					font-size: 16px;
					text-align: center;
					color: #FFFFFF;
	    		}
			}
		}
	}
}
.product-book__hits{
	background: #fff;
	margin-top: 10px;
}
.btn-elite{
	border: 1.8px solid #2D9E1A;
	border-radius: 92px;
	background: none;
	padding: 12px 17px;
	font-family: $secondary-font;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	color: $primery-text-color;
	box-sizing:border-box;
	position: absolute;
	top: -3px;
    left: auto;
    right: 250px;
    &:focus{
    	outline: none;
    }
}
