@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
$primery-font: 'Playfair Display', serif;
$secondary-font: 'Lato', sans-serif;

$h1: 30px;
$h2: 26px;
$h3: 23px;
$h4: 20px;

$primery-text: 18px;
$btn-normal: #88B447;
$btn-hover: #7BA044;
$primery-text-color: #242935;
$border-error: #D15B5B;
$border-success: #2D9E1A;
$text-error: #AE0404;