@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
.d-flex {
  display: flex !important; }

.header {
  padding: 8px 0 0 0; }
  .header .logo {
    max-width: 185px;
    margin-right: 25px; }
  .header .phone {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-align: right;
    color: #040D21;
    display: inline-block;
    vertical-align: top;
    padding-right: 22px; }
  .header .messenger-block {
    text-align: right;
    font-size: 20px;
    line-height: 22px;
    margin-top: 7px; }
    .header .messenger-block a {
      text-decoration: none;
      margin-left: 10px; }
    .header .messenger-block .telegram-messenger {
      color: #33A2D9; }
    .header .messenger-block .whatsapp-messenger {
      color: #229B1F; }
    .header .messenger-block .viber-messenger {
      color: #873395; }
  .header .header-buttom {
    margin-right: 35px; }
  .header .language_block {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #242935;
    margin-right: 35px;
    position: relative;
    cursor: pointer; }
    .header .language_block img {
      transition: all 0.5s; }
    .header .language_block.active img {
      transform: rotate(180deg); }
    .header .language_block .list_language {
      z-index: 1;
      display: none;
      cursor: pointer;
      padding: 5px 15px 5px 5px;
      background: #fff;
      top: 20px;
      left: -5px;
      list-style: none;
      position: absolute; }
      .header .language_block .list_language a {
        text-decoration: none;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        line-height: 22px;
        color: #242935; }
  .header .header-menu {
    margin-right: 35px; }
    .header .header-menu ul li {
      display: inline-block;
      padding-right: 25px;
      vertical-align: top; }
      .header .header-menu ul li a {
        text-decoration: none;
        font-family: "Lato", sans-serif;
        font-size: 17px;
        color: #242935; }
  .header .header-personal {
    font-weight: 700;
    margin-right: 35px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center; }
  .header .header-basket {
    font-weight: 700;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    display: flex;
    align-items: center; }
  .header .user-icon, .header .basket-icon {
    background: #F4F5FB;
    margin-right: 7px;
    border-radius: 50px;
    height: 52px;
    width: 52px;
    position: relative;
    cursor: pointer; }
    .header .user-icon img, .header .basket-icon img {
      height: 22px;
      width: 22px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      margin: auto; }
  .header .decree a {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #242935;
    text-decoration: none; }
  .header .navigation {
    margin-top: 10px;
    border-bottom: 1px solid #B7B7B7;
    border-top: 1px solid #B7B7B7;
    overflow: hidden; }
    .header .navigation .nav {
      width: calc(100% - 280px);
      font-size: 0;
      padding-left: 15px; }
    .header .navigation ul {
      text-align: center;
      width: 100%;
      display: table;
      line-height: 20px;
      list-style: none; }
      .header .navigation ul li {
        display: table-cell;
        vertical-align: middle;
        text-transform: uppercase;
        padding: 24px 25px;
        border-right: 1px solid #B7B7B7; }
        .header .navigation ul li a {
          color: #242935;
          font-family: "Lato", sans-serif;
          font-size: 15px;
          font-weight: 700;
          text-decoration: none; }
  .header .navigation-fixed {
    display: none;
    position: fixed;
    background: #fff;
    z-index: 3;
    width: 100%;
    top: 0;
    margin-top: 0; }
    .header .navigation-fixed .fixed-none {
      display: flex;
      align-items: center; }
    .header .navigation-fixed .nav {
      padding-left: 0; }
      .header .navigation-fixed .nav ul li {
        padding: 23px 17px;
        border-right: 1px solid #B7B7B7; }
    .header .navigation-fixed .search {
      min-width: 310px;
      margin-right: 20px;
      border-right: 1px solid #B7B7B7;
      height: 74px; }
      .header .navigation-fixed .search:before {
        display: none; }
      .header .navigation-fixed .search .search-button {
        left: 20px; }
      .header .navigation-fixed .search .search-input {
        padding: 28px 10px 22px 60px; }
      .header .navigation-fixed .search .btn-down {
        right: 20px; }

.services-block {
  padding: 22px 0 0 0;
  display: block; }
  .services-block .services-block-one {
    background: #F8F8FA;
    border-radius: 7px;
    text-align: center;
    padding: 14px 9px;
    min-height: 190px;
    height: 100%; }
    .services-block .services-block-one img {
      display: block;
      margin: 20px auto 17px auto; }
    .services-block .services-block-one .text {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 16px;
      line-height: 21px;
      color: #242935; }

.subscription-block {
  margin: 30px 0;
  border: 1px solid #E6E6E6; }
  .subscription-block .subscription {
    position: relative;
    padding: 35px 25px 35px 130px; }
    .subscription-block .subscription .sale {
      width: 95px;
      height: 100%;
      background: #484F61;
      position: absolute;
      top: 0;
      left: 0;
      font-weight: 700;
      font-size: 18px; }
      .subscription-block .subscription .sale span {
        transform: rotate(-90deg);
        color: #ffffff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 95px;
        height: 20px;
        margin: auto;
        letter-spacing: 6.3px;
        display: block; }
    .subscription-block .subscription .title {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 20px;
      line-height: 131.3%;
      color: #242935;
      margin-bottom: 20px; }
    .subscription-block .subscription .input-block {
      position: relative;
      width: 83%; }
      .subscription-block .subscription .input-block .input-mail {
        border: 1px solid #C2C2C2;
        padding-left: 23px;
        padding-right: 110px;
        height: 49px;
        width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
        outline: none;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 17px;
        line-height: 131.3%;
        color: #616161; }
      .subscription-block .subscription .input-block .submit-mail {
        height: 49px;
        width: 110px;
        border: none;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        position: absolute;
        top: 0;
        right: 0;
        background: #88B447;
        outline: none; }
      .subscription-block .subscription .input-block .check-box {
        margin-top: 15px; }
        .subscription-block .subscription .input-block .check-box input {
          display: none;
          margin-right: 10px; }
        .subscription-block .subscription .input-block .check-box label {
          cursor: pointer; }
      .subscription-block .subscription .input-block .check-box input[type=checkbox] + label:before {
        content: "";
        width: 20px;
        height: 20px;
        display: inline-block;
        border: 1px solid #000;
        font-size: 20px;
        text-align: center;
        vertical-align: middle;
        margin: -5px 5px 0 0; }
      .subscription-block .subscription .input-block .check-box input[type=checkbox]:checked + label:before {
        color: #000000;
        background: url(../img/check.png) no-repeat center center; }
  .subscription-block .best-subscription {
    padding: 30px 0 0 60px;
    background: #F2F1F8;
    position: relative; }
    .subscription-block .best-subscription .best-product {
      position: absolute;
      top: -10px;
      right: 0; }
    .subscription-block .best-subscription .title {
      font-family: "Playfair Display", serif;
      font-weight: 900;
      font-size: 38px;
      line-height: 131.3%;
      color: #242935;
      margin-bottom: 10px; }
    .subscription-block .best-subscription .subtitle {
      font-family: "Lato", sans-serif;
      font-weight: 500;
      font-size: 23px;
      line-height: 131.3%;
      color: #242935;
      margin-bottom: 20px; }
    .subscription-block .best-subscription .price-block .price-button {
      width: 166px;
      border: 1.8px solid #2D9E1A;
      border-radius: 92px;
      background: none;
      padding: 12px 17px;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      line-height: 19px;
      color: #242935;
      box-sizing: border-box;
      cursor: pointer;
      text-decoration: none;
      vertical-align: top;
      display: inline-block; }
    .subscription-block .best-subscription .price-block .price {
      font-family: "Playfair Display", serif;
      font-weight: 900;
      font-size: 26px;
      line-height: 131.3%;
      color: #242935;
      margin-left: 12px;
      display: inline-block;
      vertical-align: top; }

.news-events__block {
  background: #484F61;
  padding: 80px 0 93px 0; }
  .news-events__block .title {
    font-family: "Playfair Display", serif;
    font-size: 30px;
    font-weight: bold;
    line-height: 44px;
    letter-spacing: 3.3px;
    text-align: center;
    margin-bottom: 40px;
    color: #fff; }
  .news-events__block .news-block {
    background: url(../img/hero.png) no-repeat center center;
    background-size: cover;
    color: #fff;
    min-height: 380px;
    position: relative; }
    .news-events__block .news-block .news-group {
      width: 100%;
      height: 100%;
      position: absolute;
      transition: all 0.6s; }
      .news-events__block .news-block .news-group .data-views {
        transition: all 0.6s;
        position: absolute;
        top: 15px;
        left: 25px;
        width: calc(100% - 50px);
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
        font-family: "Lato", sans-serif; }
        .news-events__block .news-block .news-group .data-views .eye {
          position: absolute;
          right: 0; }
      .news-events__block .news-block .news-group .title-news {
        transition: all 0.6s;
        padding: 0 25px;
        position: absolute;
        font-family: "Playfair Display", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        top: 143px;
        text-align: center; }
        .news-events__block .news-block .news-group .title-news a {
          text-decoration: none;
          color: #fff; }
      .news-events__block .news-block .news-group .hashtag {
        position: absolute;
        bottom: 15px;
        left: 25px;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        font-style: italic;
        font-family: "Lato", sans-serif; }
    .news-events__block .news-block:hover .news-group .data-views {
      top: 180px;
      transition: all 0.6s; }
    .news-events__block .news-block:hover .news-group .title-news {
      top: 225px;
      transition: all 0.6s;
      background: #fff;
      height: 156px;
      width: 100%;
      font-size: 23px;
      text-align: left;
      color: #242935;
      padding: 25px 25px 29px 25px; }
      .news-events__block .news-block:hover .news-group .title-news a {
        text-decoration: none;
        color: #242935; }
    .news-events__block .news-block:hover .news-group .hashtag {
      color: #242935;
      transition: all 0.6s; }

.block-process .left-img {
  position: absolute;
  left: -25%;
  top: 0; }
.block-process .right-img {
  position: absolute;
  right: -20%;
  top: 0; }
.block-process .process-title {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  letter-spacing: 3.3px;
  margin-top: 70px;
  margin-bottom: 21px;
  color: #242935;
  text-align: center; }
.block-process .process-subtitle {
  text-align: center;
  font-family: "Lato",sans-serif;
  margin-bottom: 30px;
  font-size: 23px;
  line-height: 131.3%; }
.block-process .steps-block {
  position: relative;
  padding-bottom: 105px; }
  .block-process .steps-block hr {
    position: absolute;
    height: 3px;
    background: #767E92;
    width: 100%;
    top: 42px;
    left: 15%; }
  .block-process .steps-block .step {
    text-align: center;
    position: relative;
    width: 100%;
    min-height: 1px; }
    .block-process .steps-block .step .step-img {
      margin: 0 auto 17px;
      position: relative;
      background: #435275;
      border-radius: 50%;
      height: 117px;
      width: 117px; }
      .block-process .steps-block .step .step-img img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
    .block-process .steps-block .step .step-number {
      font-family: "Playfair Display", serif;
      color: #2A610F;
      font-weight: 700;
      font-size: 22px;
      line-height: 131.3%;
      margin-bottom: 10px; }
    .block-process .steps-block .step .step-description {
      font-family: "Lato", sans-serif;
      font-weight: 700;
      font-size: 18px;
      line-height: 131.3%;
      color: #242935;
      padding: 0 5px; }

.seo-block {
  background: #F8F8FA; }
  .seo-block .seo-block-one {
    text-align: center;
    color: #242935; }
    .seo-block .seo-block-one .seo-block-subtitle {
      font-family: "Lato", sans-serif;
      font-size: 23px;
      line-height: 131.3%;
      margin-bottom: 40px; }
  .seo-block .seo-block-title {
    margin-top: 75px;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 31px;
    line-height: 44px;
    margin-bottom: 16px;
    text-align: center; }
  .seo-block .seo-block-text {
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 35px;
    padding-bottom: 65px;
    font-style: normal;
    font-weight: normal; }
  .seo-block .hr {
    height: 1px;
    background: #80899F; }
  .seo-block .seo-block-two {
    padding-bottom: 100px; }
  .seo-block .seo-block_skin {
    margin-bottom: 30px; }
  .seo-block .seo-block-item {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px; }
    .seo-block .seo-block-item img {
      margin-top: 10px; }

.footer {
  color: #9298A6;
  background: #333947;
  font-family: "Lato", sans-serif;
  padding: 40px 0 45px 0; }
  .footer .copyright {
    font-weight: 300;
    font-size: 15px;
    line-height: 37px;
    margin-top: 15px; }
  .footer .footer-title {
    color: #F0F0F0;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 20px; }
  .footer li {
    font-size: 16px;
    margin-bottom: 20px; }
    .footer li a {
      color: #9298A6;
      text-decoration: none; }
      .footer li a:hover {
        color: #F0F0F0; }
  .footer .underline {
    text-decoration-line: underline; }
  .footer i {
    font-size: 20px;
    color: #7D9756;
    margin-right: 10px; }
  .footer .footer-social {
    position: relative;
    text-align: center;
    color: #C1C6D0;
    width: 35px;
    height: 35px;
    border: 1px solid #D0D0D0;
    display: inline-block;
    vertical-align: top;
    margin-right: 8px;
    border-radius: 20px; }
    .footer .footer-social i {
      color: #C1C6D0;
      margin-top: 6px;
      margin-right: 0; }
  .footer .footer-contact {
    color: #fff;
    font-weight: 700;
    font-size: 19px;
    margin-bottom: 20px; }
  .footer .social-group {
    float: right;
    margin-right: 15px; }

.slick {
  padding-top: 25px;
  height: 100%;
  width: 100%; }
  .slick .slider-wrapper {
    padding: 0 15px;
    outline: none; }
  .slick .books-slider {
    height: 360px;
    padding: 20px 0 40px 40px; }
  .slick .img-1 .slider-heading, .slick .img-2 .slider-heading, .slick .img-3 .slider-heading {
    font-family: "Lato", sans-serif;
    font-size: 12px;
    color: #EEEEEE;
    line-height: 128.3%;
    width: 25%; }
  .slick .img-1 .slider-title, .slick .img-2 .slider-title, .slick .img-3 .slider-title {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 33px;
    line-height: 39px;
    letter-spacing: 3.3px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: left;
    width: 85%; }
  .slick .img-1 .slider-text, .slick .img-2 .slider-text, .slick .img-3 .slider-text {
    font-family: "Lato", sans-serif;
    font-size: 22px;
    color: #FFFFFF;
    line-height: 131.3%;
    font-weight: 300;
    font-style: italic;
    width: 80%; }
  .slick .img-1 {
    background-image: url(../img/11.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .slick .img-1 .slider-heading {
      color: #242935;
      width: 34%; }
    .slick .img-1 .slider-title {
      color: #242935; }
    .slick .img-1 .slider-text {
      color: #242935; }
  .slick .img-2 {
    background-image: url(../img/12.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .slick .img-2 .slider-heading {
      width: 20%; }
  .slick .img-3 {
    background-image: url(../img/13.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .slick .img-3 .slider-heading {
      width: 25%; }
  .slick .slick-next {
    right: calc(33.33333% - 25px);
    z-index: 2;
    background: url(../img/23-prew.svg) center center;
    height: 50px;
    width: 50px; }
    .slick .slick-next:before {
      content: none; }
  .slick .slick-prev {
    left: calc(33.33333% - 25px);
    z-index: 2;
    background: url(../img/22-next.svg) center center;
    height: 50px;
    width: 50px; }
    .slick .slick-prev:before {
      content: none; }

.slick-dots {
  bottom: 15px; }
  .slick-dots li button:before {
    opacity: 1;
    color: #fff; }
  .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #E6614F; }

.product-book {
  margin-top: 21px;
  padding: 55px 0 72px 0;
  background: #F8F8FA; }
  .product-book .product-book__title {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3.3px;
    color: #242935; }
  .product-book .product-book__slider-arrow {
    position: absolute;
    top: 3px;
    left: auto;
    right: 125px;
    cursor: pointer; }
    .product-book .product-book__slider-arrow #arrow-left {
      margin-right: 40px; }
    .product-book .product-book__slider-arrow #arrow-prew {
      margin-right: 40px; }
    .product-book .product-book__slider-arrow #button-prew {
      margin-right: 40px; }
  .product-book .product-book__slider {
    margin-top: 40px; }
    .product-book .product-book__slider .cell-block {
      padding-right: 30px; }
      .product-book .product-book__slider .cell-block .novelty {
        position: absolute;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 12px;
        text-align: right;
        letter-spacing: 2.3px;
        color: #FFFFFF;
        transform: rotate(-90deg);
        background: #3d649e;
        display: inline-block;
        padding: 0 5px 0 5px;
        top: 57px;
        left: -10px; }
      .product-book .product-book__slider .cell-block .hit {
        background: #E6614F;
        position: absolute;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 12px;
        text-align: right;
        letter-spacing: 2.3px;
        color: #FFFFFF;
        transform: rotate(-90deg);
        display: inline-block;
        padding: 0 5px 0 5px;
        top: 35px;
        left: 10px; }
      .product-book .product-book__slider .cell-block .elite {
        background: #897869;
        position: absolute;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 12px;
        text-align: right;
        letter-spacing: 2.3px;
        color: #FFFFFF;
        transform: rotate(-90deg);
        display: inline-block;
        padding: 0 5px 0 5px;
        top: 57px;
        left: -10px; }
    .product-book .product-book__slider .book-one {
      display: inline-block;
      text-align: center;
      position: relative;
      height: 480px;
      max-width: 268px;
      background: #FFFFFF;
      border: 1px solid #E4E4E4;
      box-sizing: border-box;
      border-radius: 3px;
      padding: 20px 20px 40px 20px; }
      .product-book .product-book__slider .book-one:hover, .product-book .product-book__slider .book-one:active {
        height: 542px;
        transition: all 0.3s; }
        .product-book .product-book__slider .book-one:hover .basket, .product-book .product-book__slider .book-one:active .basket {
          opacity: 1; }
      .product-book .product-book__slider .book-one .rating {
        margin-top: 15px; }
        .product-book .product-book__slider .book-one .rating i {
          color: #F9DAD5;
          font-size: 17px;
          line-height: 20px; }
          .product-book .product-book__slider .book-one .rating i.active {
            color: #F97A69; }
      .product-book .product-book__slider .book-one .book-one_img {
        width: 150px;
        margin: 0 auto; }
        .product-book .product-book__slider .book-one .book-one_img img {
          height: auto; }
      .product-book .product-book__slider .book-one .book-name {
        margin-top: 9px;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        line-height: 131.3%;
        color: #242935;
        font-weight: bold; }
      .product-book .product-book__slider .book-one .author {
        margin-top: 11px;
        font-family: "Playfair Display", serif;
        font-style: italic;
        font-weight: bold;
        font-size: 15px;
        color: #80899F; }
      .product-book .product-book__slider .book-one .price {
        margin: 4px 0 40px;
        font-family: "Playfair Display", serif;
        font-weight: 900;
        font-size: 25px;
        color: #242935; }
      .product-book .product-book__slider .book-one .basket {
        opacity: 0;
        display: inline-block;
        background: #88B447;
        border-radius: 92px;
        min-width: 166px;
        cursor: pointer;
        box-sizing: border-box;
        padding: 12px 17px;
        transition: all 0.6s; }
        .product-book .product-book__slider .book-one .basket a {
          text-decoration: none;
          font-family: "Lato", sans-serif;
          font-weight: bold;
          font-size: 16px;
          text-align: center;
          color: #FFFFFF; }

.product-book__hits {
  background: #fff;
  margin-top: 10px; }

.btn-elite {
  border: 1.8px solid #2D9E1A;
  border-radius: 92px;
  background: none;
  padding: 12px 17px;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #242935;
  box-sizing: border-box;
  position: absolute;
  top: -3px;
  left: auto;
  right: 250px; }
  .btn-elite:focus {
    outline: none; }

.burger-menu {
  height: 14px;
  width: 20px;
  position: relative;
  display: inline-block;
  vertical-align: sub;
  margin-left: 10px;
  cursor: pointer;
  left: 0; }

.burger-menu span {
  content: " ";
  background-color: #242935;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 6px;
  transition: all 0.4s; }

.burger-menu:before,
.burger-menu:after {
  content: " ";
  background-color: #242935;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.4s; }

.burger-menu:before {
  top: 0; }

.burger-menu:after {
  bottom: 0; }

.burger_book.burger-active span,
.header_burger-menu.burger-active span {
  transform: scale(0); }

.burger_book.burger-active:before,
.header_burger-menu.burger-active:before {
  transform: rotate(45deg);
  top: 6px; }

.burger_book.burger-active:after,
.header_burger-menu.burger-active:after {
  transform: rotate(-45deg);
  bottom: 6px; }

.header_burger-menu {
  display: none; }

.header-burger_list {
  display: none;
  position: absolute;
  width: 100%;
  background: #FFFFFF;
  border-top: 1px solid #B7B7B7;
  z-index: 5; }
  .header-burger_list .header-burger_top-row {
    padding: 30px 0 0 0;
    text-align: center;
    display: none; }
    .header-burger_list .header-burger_top-row li {
      padding: 14px 0; }
      .header-burger_list .header-burger_top-row li a {
        text-decoration: none;
        color: #242935;
        font-size: 17px; }
  .header-burger_list .header-burger_bottom-row {
    padding: 15px 0;
    background: #F8F8FA; }
    .header-burger_list .header-burger_bottom-row .header-social_group {
      text-align: center;
      margin-bottom: 15px; }
      .header-burger_list .header-burger_bottom-row .header-social_group .header-social_facebook,
      .header-burger_list .header-burger_bottom-row .header-social_group .header-social_instagram {
        border: 1px solid #7B7777;
        position: relative;
        text-align: center;
        color: #C1C6D0;
        width: 35px;
        height: 35px;
        display: inline-block;
        vertical-align: top;
        margin-right: 8px;
        border-radius: 20px; }
        .header-burger_list .header-burger_bottom-row .header-social_group .header-social_facebook i,
        .header-burger_list .header-burger_bottom-row .header-social_group .header-social_instagram i {
          color: #647CB4;
          margin-top: 6px;
          margin-right: 0; }
      .header-burger_list .header-burger_bottom-row .header-social_group .header-social_instagram i {
        color: #CE4C9A; }

.burger-menu__list-book {
  display: none;
  background: #fff;
  position: absolute;
  width: 100%;
  z-index: 3; }
  .burger-menu__list-book .mobil_exit {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }
  .burger-menu__list-book .all-books {
    padding: 30px 20px; }
    .burger-menu__list-book .all-books li {
      padding: 5px 0; }
      .burger-menu__list-book .all-books li a {
        text-decoration: none;
        font-family: "Lato", sans-serif;
        color: #242935;
        font-size: 17px;
        line-height: 204%; }
        .burger-menu__list-book .all-books li a:hover {
          text-decoration-line: underline; }

#mobil_burger_book {
  margin-left: 6px;
  transform: rotate(-180deg);
  transition: all 0.5s; }
  #mobil_burger_book.btn-down_active {
    transform: rotate(0deg); }

.search {
  background: #F4F5FB;
  position: relative;
  max-width: 280px;
  height: 75px; }
  .search:before {
    position: absolute;
    content: "";
    left: 100%;
    top: 0;
    height: 100%;
    display: block;
    width: 50vw;
    background: #F4F5FB; }
  .search .search-button {
    cursor: pointer;
    height: 20px;
    width: 20px;
    top: 0;
    bottom: 0;
    left: 30px;
    position: absolute;
    background: none;
    outline: none;
    border: none;
    margin: auto;
    padding: 0; }
  .search .search-input {
    font-size: 18px;
    padding: 28px 10px 22px 70px;
    background: none;
    border: none;
    outline: none;
    font-style: italic; }
  .search .btn-down {
    cursor: pointer;
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background: none;
    outline: none;
    border: none;
    margin: auto;
    padding: 0;
    vertical-align: middle;
    transform: rotate(-180deg);
    transition: all 0.5s; }
    .search .btn-down.btn-down_active {
      transform: rotate(0deg); }

.advanced-search {
  padding: 75px 0 43px 0;
  background: #F4F5FB;
  font-family: "Lato", sans-serif;
  color: #242935;
  font-size: 16px;
  line-height: 19px;
  display: none; }
  .advanced-search .advanced-search_title {
    font-weight: bold;
    font-size: 21px;
    line-height: 25px;
    text-align: center; }
  .advanced-search .caption {
    margin-bottom: 10px; }
  .advanced-search select {
    background-color: #ffffff;
    opacity: 0.83;
    border-radius: 5px;
    border: 1px solid #E2E6EA;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    -webkit-appearance: none; }
  .advanced-search .advanced-search_select {
    background-image: url(../img/arrow_down_black.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
    margin-bottom: 25px; }
  .advanced-search .advanced-search_check-box {
    display: inline-block;
    margin-bottom: 25px; }
    .advanced-search .advanced-search_check-box input {
      display: none;
      margin-right: 10px; }
    .advanced-search .advanced-search_check-box label {
      cursor: pointer; }
    .advanced-search .advanced-search_check-box .label-margin {
      margin-left: 29px; }
  .advanced-search .advanced-search_check-box input[type=checkbox] + label:after {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 1px solid #E2E6EA;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    margin: -5px 0 0 7px;
    background: #ffffff; }
  .advanced-search .advanced-search_check-box input[type=checkbox]:checked + label:after {
    color: #000000;
    background-image: url(../img/check.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-position: center center; }
  .advanced-search .price-range .value {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    letter-spacing: -0.0825px;
    color: #000000;
    margin-top: 8px;
    text-align: center;
    display: block; }
  .advanced-search .price-range .ui-widget.ui-widget-content {
    border: none; }
  .advanced-search .price-range .ui-slider-horizontal {
    height: 5px; }
  .advanced-search .price-range .ui-widget-header {
    border-radius: 5px;
    outline: 0;
    border: none;
    background: #80899F; }
  .advanced-search .price-range .ui-state-default {
    background: #69B35D;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none; }
  .advanced-search .price-range .ui-slider-horizontal .ui-slider-handle {
    top: -0.4em;
    margin-left: -.6em; }
  .advanced-search .advanced-search_input {
    opacity: 0.83;
    border-radius: 5px;
    border: 1px solid #E2E6EA;
    width: 100%;
    padding: 15px 20px;
    outline: none;
    font-style: italic; }
  .advanced-search .advanced-search_glass {
    position: absolute;
    color: #ABA3A3;
    top: 45px;
    right: 35px;
    width: 19px;
    height: 19px; }
  .advanced-search .author {
    font-style: italic;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.0825px;
    margin-top: 5px;
    color: #9B9B9B;
    display: block; }
  .advanced-search .advanced-search_find {
    margin-top: 25px;
    background: #88B447;
    outline: none;
    border: none;
    color: #fff;
    display: inline-block; }
  .advanced-search .advanced-search_dump {
    display: inline-block;
    margin: 0 12px 0 33px;
    text-decoration-line: underline; }
    .advanced-search .advanced-search_dump a {
      text-decoration: none;
      font-family: "Lato", sans-serif;
      color: #242935;
      font-size: 16px;
      line-height: 19px; }
  .advanced-search .advanced-search_close-button {
    display: inline-block;
    vertical-align: sub; }

.search_fixed {
  position: fixed;
  z-index: 5;
  right: 0;
  left: 0;
  top: 76px; }

.mobil_search-icon {
  display: none;
  margin-right: 10px; }

.mobil_search-list {
  display: none;
  position: fixed;
  top: 75px;
  width: 100%;
  background: #FFFFFF;
  z-index: 5; }
  .mobil_search-list .mobil_search {
    min-width: 100%;
    height: 58px; }
    .mobil_search-list .mobil_search .search-input {
      font-size: 17px;
      padding: 18px 0 19px 25px;
      color: #90939A; }
    .mobil_search-list .mobil_search .search-button {
      right: 20px;
      left: auto; }
  .mobil_search-list .mobil_advanced-search {
    padding: 20px 0 35px 25px;
    font-size: 18px;
    font-weight: bold; }
    .mobil_search-list .mobil_advanced-search #mobil_btn-down {
      margin-left: 6px;
      transform: rotate(-180deg);
      transition: all 0.5s; }
      .mobil_search-list .mobil_advanced-search #mobil_btn-down.btn-down_active {
        transform: rotate(0deg); }
  .mobil_search-list .mobil_search:before {
    display: none; }

.search_mobil {
  position: fixed;
  z-index: 5;
  right: 0;
  left: 0;
  top: 205px;
  height: 30%;
  overflow: scroll; }

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(14, 1, 1, 0.28);
  z-index: 4;
  margin-top: 76px;
  display: none; }

.pop-up {
  font-family: "Lato", sans-serif;
  color: #242935;
  border: 0.5px solid #B7B7B7;
  border-right: none;
  background: #fff;
  position: absolute;
  z-index: 4;
  margin: auto; }
  .pop-up .title {
    font-weight: 700;
    font-size: 20px;
    line-height: 44px; }
  .pop-up label {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    display: block;
    margin-bottom: 8px; }
  .pop-up input {
    font-size: 17px;
    line-height: 20px;
    height: 49px;
    border: 1px solid #CACACA;
    box-sizing: border-box;
    padding-left: 20px;
    margin-bottom: 20px;
    width: 100%;
    display: block; }
  .pop-up .social_pop-up .facebook-btn {
    background: #45629B;
    margin-top: 12px;
    border-radius: 4px;
    width: 167px;
    cursor: pointer; }
  .pop-up .social_pop-up .google-btn {
    margin-bottom: 100px;
    background: #4688F1;
    margin-top: 12px;
    border-radius: 4px;
    width: 167px;
    cursor: pointer; }
  .pop-up .social_pop-up a {
    text-decoration: none;
    line-height: 38px;
    color: #fAfAfA;
    font-size: 16px; }
  .pop-up .social_pop-up i {
    padding: 0 15px; }
  .pop-up .social_pop-up img {
    padding: 0 15px;
    border-radius: 10px; }
  .pop-up .exit {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer; }

.login-page {
  max-width: 866px;
  display: none;
  padding: 25px 60px 45px 50px;
  top: 75px;
  right: 0;
  left: 47%;
  position: fixed; }
  .login-page:before {
    top: 0;
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 50vw;
    left: 100%;
    background: #fff; }
  .login-page .login__title {
    text-align: left;
    margin-bottom: 16px; }
  .login-page .login__form {
    width: 50%;
    padding-right: 50px;
    border-right: 1px solid #EAE9E9;
    float: left; }
    .login-page .login__form .forget_password {
      margin-bottom: 20px; }
      .login-page .login__form .forget_password a {
        font-family: "Lato", sans-serif;
        color: #858A95;
        font-size: 15px;
        line-height: 18px;
        text-decoration-line: underline; }
    .login-page .login__form .login__check-box {
      line-height: 18px;
      margin-bottom: 30px; }
      .login-page .login__form .login__check-box input {
        display: none;
        margin-left: 10px; }
      .login-page .login__form .login__check-box label {
        cursor: pointer; }
    .login-page .login__form .login__check-box input[type=checkbox] + label:before {
      margin: -5px 5px 0 0px;
      background: #ffffff; }
    .login-page .login__form .login__check-box input[type=checkbox]:checked + label:before {
      background-image: url(../img/login-checkbox.svg);
      background-color: #7D9756;
      background-repeat: no-repeat;
      background-position: center center; }
    .login-page .login__form .login__buttom {
      background: #88B447;
      border: none;
      outline: none;
      display: inline-block;
      color: #fff; }
    .login-page .login__form .login_exit {
      display: inline-block;
      margin-left: 30px;
      cursor: pointer; }
  .login-page .login__social {
    width: 50%;
    padding-left: 50px;
    float: right; }
    .login-page .login__social .description {
      font-size: 16px;
      line-height: 19px;
      color: #858A95; }
    .login-page .login__social .registr a {
      color: #242935;
      text-decoration-line: underline; }

.registr-page {
  max-width: 1000px;
  padding: 35px 60px 50px 60px;
  top: 76px;
  right: 0;
  left: 46%;
  display: none;
  position: fixed; }
  .registr-page:before {
    top: 0;
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 50vw;
    left: 100%;
    background: #fff; }
  .registr-page .registr__title {
    text-align: left;
    margin-bottom: 16px; }
  .registr-page .registr__form {
    width: 50%;
    padding-right: 50px;
    border-right: 1px solid #EAE9E9;
    float: left; }
    .registr-page .registr__form .registr__symbol {
      margin-top: 5px; }
      .registr-page .registr__form .registr__symbol .symbol {
        background-image: url(../img/symbol.png);
        background-repeat: no-repeat;
        background-position: left center;
        width: 49%;
        padding: 25px 0;
        display: inline-block;
        vertical-align: top;
        margin-right: 1%; }
      .registr-page .registr__form .registr__symbol input {
        width: 49%;
        display: inline-block;
        vertical-align: middle; }
    .registr-page .registr__form .registr__check-box {
      line-height: 18px;
      margin-bottom: 30px; }
      .registr-page .registr__form .registr__check-box input {
        display: none;
        margin-left: 10px; }
      .registr-page .registr__form .registr__check-box label {
        cursor: pointer;
        font-size: 14px; }
      .registr-page .registr__form .registr__check-box a {
        color: #242935;
        text-decoration-line: underline;
        font-size: 14px; }
    .registr-page .registr__form .registr__check-box input[type=checkbox] + label:before {
      margin: -5px 5px 0 0px;
      background: #ffffff; }
    .registr-page .registr__form .registr__check-box input[type=checkbox]:checked + label:before {
      background-image: url(../img/login-checkbox.svg);
      background-color: #7D9756;
      background-repeat: no-repeat;
      background-position: center center; }
    .registr-page .registr__form .lregistr__buttom {
      background: #88B447;
      border: none;
      outline: none;
      display: inline-block;
      color: #fff; }
    .registr-page .registr__form .registr_exit {
      display: inline-block;
      margin-left: 30px;
      cursor: pointer; }
  .registr-page .registr__social {
    width: 50%;
    padding-left: 50px;
    float: right; }
    .registr-page .registr__social label {
      max-width: 170px;
      font-size: 16px; }

.basket-page {
  max-width: 492px;
  padding: 35px 60px 50px 60px;
  top: 75px;
  right: 0;
  left: 50%;
  display: none;
  position: fixed; }
  .basket-page:before {
    top: 0;
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 50vw;
    left: 99%;
    background: #fff; }

.basket-form .basket_exit {
  margin-bottom: 40px;
  cursor: pointer; }
  .basket-form .basket_exit i {
    font-size: 18px;
    line-height: 18px;
    margin-left: 10px;
    vertical-align: middle; }
.basket-form .product-group {
  margin-bottom: 10px; }
  .basket-form .product-group .product-img {
    display: inline-block;
    vertical-align: top;
    padding-right: 30px;
    float: left; }
  .basket-form .product-group .name-product {
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 10px;
    width: 76%;
    display: inline-block;
    vertical-align: top; }
  .basket-form .product-group .product-aside {
    display: inline-block;
    vertical-align: top;
    width: 76%; }
    .basket-form .product-group .product-aside .control-product {
      display: flex;
      justify-content: space-between; }
      .basket-form .product-group .product-aside .control-product .price-product {
        font-family: "Playfair Display", serif;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 33px;
        display: inline-block;
        vertical-align: top; }
        .basket-form .product-group .product-aside .control-product .price-product span {
          font-size: 25px;
          line-height: 33px; }
      .basket-form .product-group .product-aside .control-product .calc-product {
        text-align: center;
        font-size: 0;
        display: inline-block;
        vertical-align: top;
        margin-top: 10px; }
        .basket-form .product-group .product-aside .control-product .calc-product input {
          padding-bottom: 5px;
          height: 23px;
          cursor: pointer;
          text-align: center;
          font-size: 21px;
          width: 25px;
          display: inline-block;
          vertical-align: top;
          background: #F4F5FB;
          border: 0.5px solid #D4D4D4;
          box-sizing: border-box;
          padding-left: 0;
          margin-bottom: 0; }
        .basket-form .product-group .product-aside .control-product .calc-product .minus {
          border-radius: 15px 0 0 15px; }
        .basket-form .product-group .product-aside .control-product .calc-product .value {
          font-family: "Playfair Display", serif;
          font-style: normal;
          font-weight: 400;
          line-height: 28px;
          padding-bottom: 8px; }
        .basket-form .product-group .product-aside .control-product .calc-product .plus {
          border-radius: 0 15px 15px 0; }
      .basket-form .product-group .product-aside .control-product .delete-product {
        text-align: right;
        font-size: 0;
        display: inline-block;
        vertical-align: top;
        margin-top: 13px; }
.basket-form .product__total-coust {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  margin: 40px 0 30px 0;
  padding: 20px 0; }
  .basket-form .product__total-coust .product-total {
    display: inline-block;
    vertical-align: top;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px; }
  .basket-form .product__total-coust .product-coust {
    display: inline-block;
    font-style: normal;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 19px;
    vertical-align: top; }
    .basket-form .product__total-coust .product-coust span {
      font-weight: 700;
      font-size: 25px;
      line-height: 19px; }
.basket-form .product__button {
  display: flex;
  justify-content: space-between; }
.basket-form .product-bay-btn {
  background: #88B447;
  border: none;
  outline: none;
  color: #fff; }

.feedback-page {
  display: none;
  position: fixed;
  z-index: 5;
  padding: 50px 30px 65px 30px;
  left: 9px;
  right: 9px;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 577px;
  max-height: 412px; }
  .feedback-page .feedback-title {
    text-align: center;
    margin-bottom: 20px; }
  .feedback-page .feedback-block {
    width: 70%;
    margin: 0 auto; }
  .feedback-page .feedback-btn {
    background: #88B447;
    border: none;
    outline: none;
    color: #fff;
    margin-top: 8px;
    cursor: pointer; }

.feedback-up-page {
  display: none;
  max-width: 920px;
  max-height: 450px;
  padding: 45px 65px; }
  .feedback-up-page .feedback-up-title {
    font-size: 24px;
    line-height: 139.8%;
    margin-bottom: 30px;
    text-align: left; }
  .feedback-up-page .feedback-block {
    width: 40%;
    display: inline-block;
    vertical-align: top; }
  .feedback-up-page .feedback-btn {
    width: 40%; }
  .feedback-up-page .feedback-up-commit {
    width: 59%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left: 25px; }
    .feedback-up-page .feedback-up-commit textarea {
      width: 100%;
      padding: 15px;
      height: 144px;
      border: 1px solid #CACACA;
      box-sizing: border-box; }

.pre-order-page {
  display: none;
  max-height: 412px;
  max-width: 966px;
  padding: 45px 65px 83px 65px; }
  .pre-order-page .basket-form {
    width: 50%;
    border-right: 1px solid #EAE9E9;
    padding-right: 60px;
    display: inline-block;
    vertical-align: top;
    margin-top: 36px; }
    .pre-order-page .basket-form .pre-order_delete-product {
      width: 6%;
      text-align: right;
      font-size: 0;
      display: inline-block;
      vertical-align: top;
      margin-top: 13px; }
  .pre-order-page .feedback-block {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding-left: 60px; }
    .pre-order-page .feedback-block .feedback-btn {
      width: 80%; }

.application-page {
  display: none;
  max-width: 524px;
  max-height: 240px;
  padding: 50px 21px 65px 21px;
  position: fixed;
  z-index: 5;
  left: 9px;
  right: 9px;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center; }
  .application-page .application-title {
    margin-bottom: 28px; }

body {
  overflow-x: hidden; }
  body img {
    max-width: 100%; }
  body ul {
    list-style: none; }
  body input {
    outline: none; }

.custom-container {
  position: relative;
  max-width: 1350px; }

.buttom {
  min-width: 166px;
  text-decoration: none;
  cursor: pointer;
  border: 1.8px solid #2D9E1A;
  box-sizing: border-box;
  border-radius: 92px;
  font-family: "Lato",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #242935;
  padding: 12px 17px; }

.checkbox input[type=checkbox] + label:before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #E2E6EA;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  margin: -5px 0 0 7px;
  background: #ffffff; }

.checkbox input[type=checkbox]:checked + label:before {
  color: #000000;
  background-image: url(../img/check.png);
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center; }

.line_top {
  border-top: 1px solid #DBDEE8;
  width: 100%;
  display: none; }

img {
  max-width: 100%; }

/*# sourceMappingURL=main.css.map */
