@media (max-width: 1400px){
	.slick .img-1 .slider-title,
	.slick .img-2 .slider-title, 
	.slick .img-3 .slider-title{
		width: 90%;
		font-size: 30px;
		line-height: 35px;
	}
	.slick .img-1 .slider-heading{
		width: 50%;
	}
	.header .logo,
	.header .header-buttom,
	.header .header-menu,
	.header .header-personal{
		margin-right: 15px;
	}
	.header .language_block{
		margin-right: 15px;
	}
	.header .header-menu ul li{
		padding-right: 15px;
	}
	.header .navigation ul li{
		padding: 24px 20px;
	}
	.header .advanced-search .advanced-search_check-box{
		margin-bottom: 15px;
	}
	.header .advanced-search .advanced-search_check-box .label-margin{
		margin-left: 0;
	}
	.header .advanced-search .advanced-search_check-box input[type=checkbox] + .label-margin:after{
		margin: -5px 0 0 38px;
	}
	.header .advanced-search .advanced-search_find{
		width: 100%;
		margin-bottom: 15px;
	}
	.header .advanced-search .advanced-search_dump{
		margin: 0 30px 0 0;
	}
	.login-page{
		max-width: 570px;
		padding: 25px 10px 45px 40px;
		left: auto;
	}
	.login-page .login__social{
		width: 41%;
		padding-left: 40px;
	}
	.login-page .login__form{
		width: 59%;
		padding-right: 40px;
	}
	.login-page .login__form .login_exit{
		margin-left: 22px;
	}
	.basket-page{
		left: auto;
	}
	.registr-page{
		max-width: 870px;
		max-height: 600px;
		padding: 25px 10px 35px 40px;
		left: auto;
		overflow: scroll;
	}
	.registr-page .registr__social{
		width: 38%;
		padding-left: 40px;
	}
	.registr-page .registr__form{
		width: 62%;
		padding-right: 40px;
	}

}
@media (max-width: 1200px){
	.header .logo,
	.header .header-buttom,
	.header .header-menu,
	.header .header-personal{
		margin-right: 10px;
	}
	.header .language_block{
		margin-right: 10px;
		font-size: 16px;
	}
	.header .phone{
		padding-right: 10px;
		font-size: 16px;
	}
	.header .header-menu ul li{
		padding-right: 10px;
	}
	.header .decree{
		display: none;
	}
	.header .header-menu ul li a{
		font-size: 15px;
	}
	.header-btn{
		padding: 10px 10px;
		font-size: 15px;
		min-width: 155px;
	}
	.header .navigation ul li{
		padding: 12px 10px;
	}
	.header .navigation-fixed .nav ul li{
		padding: 11px 11px;
	}
	.slick .img-1 .slider-title,
	.slick .img-2 .slider-title, 
	.slick .img-3 .slider-title{
		width: 90%;
	    font-size: 25px;
	    line-height: 25px;
	}
	.slick .img-1 .slider-text,
	.slick .img-2 .slider-text, 
	.slick .img-3 .slider-text{
	    font-size: 18px;
	}
	.slick .img-2 .slider-heading {
    	width: 25%;
	}
	.subscription-block .best-subscription .best-product{
		max-width: 40%;
	}
	.subscription-block .best-subscription .title {
    	font-size: 35px;
    }
}
@media (max-width: 992px) {
	.slick .slick-next{
		right: calc(0% - 12px);
	}
	.slick .slick-prev{
		left: calc(0% - 12px);
	}
	.group-services{
		margin-bottom: 30px;
	}
	.product-book .product-book__slider-arrow,
	.product-book .product-book__slider-arrow img{
		height: 22px;
		right: 60px;
	}
	.product-book .product-book__title{
		font-size: 24px;
		max-width: 60%;
	}
	.btn-elite {
		right: 150px;
		padding: 12px 12px;
	}
	.subscription-block .best-subscription .best-product{
		top: 40px;
	}
	.subscription-block .best-subscription .price-block .price-button{
		width: 150px;
	}
	.subscription-block .best-subscription .subtitle{
		font-size: 20px;
		margin-bottom: 25px;
	}
	.subscription-block .best-subscription .price-block .price{
		font-size: 22px;
	}
	.subscription-block .subscription .title{
		font-size: 15px;
	}
	.subscription-block .subscription .input-block .input-mail{
		padding-left: 15px;
	    padding-right: 40px;
	    height: 40px;
	    font-size: 15px;
	}
	.subscription-block .subscription .input-block .submit-mail{
		height: 40px;
    	width: 40px;
	}
	.block-process .right-img,
	.block-process .left-img{
		display: none;
	}
	.block-process .steps-block .step .step-description{
		font-size: 16px;
	}
	.footer{
		text-align: center;
	}
	.footer .footer_block-contact{
		margin-top: 20px;
	}
	.footer .social-group{
		float: none;
		margin-right: 0;
	}
	.header .advanced-search{
		padding: 45px 0 25px 0;
	}
	.header .advanced-search .advanced-search_title{
		margin-bottom: 20px;
	}
	.header .phone,
	.header .header-buttom,
	.header .header-burger_list .header-menu,
	.header .header-burger_list .header-personal,
	.header .header-burger_list .language_block{
		display: none;
	}
	.header .header_burger-menu{
		display: block;
	}
	.header .header-burger_list .phone,
	.header .header-burger_list .messenger-block,
	.header .header-burger_list .header-buttom{
		display: block;
		text-align: center;
		margin-bottom: 20px;
	}
	.header .navigation .nav{
		width: calc(100% - 200px);
	}
	.header .search{
		max-width:200px;
	}
	.header .navigation-fixed .search{
		min-width: 200px;
	}
	.header .navigation-fixed .nav ul li{
		padding: 13px 5px;
	}
	.pre-order-page{
		padding: 25px;
	}
	.pre-order-page .basket-form{
		padding-right: 25px;
		width: 54%;
	}
	.pre-order-page .feedback-block{
		padding-left: 25px;
	}
}
@media (max-width: 900px) {
	.header .navigation ul li a{
		font-size: 12px;
	}
}
@media (max-width: 768px) {
	.group-services{
		padding: 0 5px 0 10px;
		margin-bottom: 10px;
	}
	.services-block .services-block-one .text{
		font-size: 15px;
		line-height: 20px;
	}
	.product-book .product-book__slider-arrow{
		right: 60px;
	}
	.product-book .product-book__slider-arrow #arrow-left{
		margin-right: 30px;
	}
	.product-book .product-book__slider-arrow #arrow-prew{
		margin-right: 30px;
	}
	.product-book .product-book__slider .book-one{
		max-width: 160px;
		padding: 20px 15px 35px 15px;
	}
	.product-book .product-book__slider .book-one .book-one_img{
		width: 80px;
	}
	.product-book .product-book__slider .book-one .book-name{
		font-size: 15px;
	}
	.product-book .product-book__slider .book-one .basket{
		min-width: 115px;
	}
	.product-book .product-book__slider .book-one{
		height: 380px;
	}
	.product-book .product-book__slider .book-one:hover{
		height: 442px;
	}
	.product-book .product-book__slider .cell-block .novelty,
	.product-book .product-book__slider .cell-block .elite{
		left: -20px;
	}
	.product-book .product-book__slider .cell-block .hit{
		left: 3px;
	}
	.btn-elite{
	    top: inherit!important;
	    bottom: -60px!important;
	    left: 15px!important;
	    min-width: 212px;
	}
	.subscription-block .best-subscription .best-product{
		top: -10px;
	}
	.subscription-block .best-subscription{
		padding: 30px 0 30px 60px;
	}
	.subscription-block .best-subscription .best-product{
		max-width: 55%;
	}
	.block-process .steps-block{
		padding-bottom: 45px;
	}
	.news-events__block .news-block{
		margin-bottom: 20px; 
	}
	.block-process .steps-block hr{
		display: none;
	}
	.block-process .steps-block .step{
		margin-bottom: 30px;
	}
	.seo-block .seo-block-two {
    	padding-bottom: 20px;
	}
	.seo-block .seo-block-title{
		font-size: 22px;
		margin-top: 40px;
		line-height: 34px;
	}
	.seo-block .seo-block-one .seo-block-subtitle{
		font-size: 20px;
		line-height: 26px;
		margin-bottom: 30px;
	}
	.seo-block .seo-block-text{
		font-size: 16px;
    	line-height: 30px;
    	padding-bottom: 40px;
	}
	.seo-block .seo-block_skin{
		margin-bottom: 0;
	}
	.seo-block .seo-block-item{
		font-size: 16px;
		padding-bottom: 0;
		line-height: 44px;
	}
	.footer .footer__logo,
	.footer .footer-schedule,
	.footer .footer-nav{
		margin-top: 20px;
	}
	.pop-up .title{
		font-size: 14px;
		line-height: 22px;
	}
	.pop-up input{
		font-size: 12px;
	    height: 30px;
	    margin-bottom: 10px;
	}
	.pop-up label{
		font-size: 12px;
	}
	.feedback-page{
		max-height: 320px;
		padding: 35px 20px;
	}
	.feedback-up-page .feedback-up-commit textarea{
		height: 100px;
	}
	.feedback-up-page .feedback-up-title{
		margin-bottom: 10px;
	}
	.header .advanced-search .advanced-search_find{
		width: 70%;
	}
	.header .advanced-search .advanced-search_dump{
		margin: 0 20px 0 20px;
	}
	.header-top{
		position: fixed;
		z-index: 5;
		background: #FFFFFF;
		top: 0;
		border-bottom: 1px solid #B7B7B7;
		height: 75px;
	}
	.header .navigation-fixed .fixed-none{
		display: none;
	}
	.header .navigation,
	.header .header-menu,
	.header .header-personal,
	.header .language_block{
		display: none;
	}
	.header .header-burger_list .header-menu,
	.header .header-burger_list .language_block,
	.header .header-burger_list .header-burger_top-row{
		display: block;
		text-align: center;
		margin-bottom: 30px;
	}
	.header-burger_list{
		height: 30%;
		overflow: scroll;
	}
	.header .header-burger_list .header-personal{
		display: block;
		background: #636D85;
		padding: 20px 0;
	}
	.header .header-burger_list .decree,
	.header .header-burger_list .decree a{
		display: block;
		text-align: center;
		color: #FFFFFF;
		padding-top: 2px;
	}
	.header .header-burger_list .header-personal .user-icon{
		margin: 0 auto;
	}
	.header .header-menu ul li {
		display: block;
		padding: 10px 0;
	}
	.header .header-menu ul li:active{
		background: #88AD52;
	}
	.header .header-menu ul li a:active{
		color: #FFFFFF;
	}
	.slick{
		padding-top: 95px;
	}
	.header .header-burger_list{
		position: fixed;
		top: 74px;
	}
	.mobil_search-icon{
		display: block;
	}
	.advanced-search .advanced-search_title{
		display: none;
	}
	.burger-menu__list-book{
		position: fixed;
		z-index: 5;
		top: 247px;
		height: 50%;
		overflow: scroll;
	}
	.burger-menu__list-book .all-books{
		padding: 10px 20px;
	}
	.registr-page{
		overflow: hidden;
	}
	.registr-page .registr__form .registr__symbol input{
		height: 40px;
		margin-top: 6px;
	}
	.pre-order-page{
		left: 9px;
		right: 9px;
		top: 84px;
		bottom: 0;
		margin: 0 auto;
		max-height: 500px;
		padding: 20px 15px;
	}
	.pre-order-page .basket-form,
	.pre-order-page .feedback-block{
		padding-right: 0;
		width: 80%;
		padding-left: 0;
		margin: 0 auto;
		border-right: none;
		display: block;
	}
	.pre-order-title{
		margin-bottom: 20px;
	}
}
@media (max-width: 576px) {
	.product-book .product-book__slider-arrow, 
	.product-book .product-book__slider-arrow img{
		right: 20px;
	}
	.subscription-block .best-subscription{
		padding: 0 0 60px 0;
	}
	.subscription-block .best-subscription .best-product{
		max-width: 100%;
	}
	.subscription-block .best-subscription .title{
		margin-top: 160px;
		text-align: center;
	}
	.subscription-block .best-subscription .subtitle{
		text-align: center;
		margin-bottom: 10px; 
	}
	.subscription-block .best-subscription .price-block{
		position: relative;
		text-align: center;
		height: 90px;
	}
	.subscription-block .best-subscription .price-block .price{
		position: absolute;
	    top: 0;
	    width: 100%;
	    left: 0;
	    margin-left: 0;
	}
	.subscription-block .best-subscription .price-block .price-button{
		position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    width: 130px;
	    margin: auto;
	}
	.subscription-block .subscription .sale{
		display: none;
	}
	.subscription-block .subscription{
		padding: 35px 15px 35px 15px;
	}
	.subscription-block .subscription .title{
		text-align: center;
	}
	.subscription-block .subscription .input-block{
		width: 100%;
	}
	.news-events__block{
		padding: 40px 0 60px 0;
	}
	.news-events__block .title{
		font-size: 25px;
	}
	.news-events__block .news-block .news-group .title-news{
		font-size: 22px;
		padding: 0 15px;
	}
	.news-events__block .news-block:hover .news-group .title-news{
		font-size: 22px;
		padding: 25px 25px 29px 25px;
	}
	.block-process .process-title{
		font-size: 23px;
		margin-top: 45px;
    	margin-bottom: 15px;
	}
	.block-process .process-subtitle{
		font-size: 20px;
	}
	.feedback-up-page{
		max-height: 470px;
	}
	.feedback-up-page .feedback-up-commit{
		width: 100%;
		padding-left: 0;
	}
	.feedback-up-page .feedback-block{
		width: 100%;
	}
	.feedback-up-page .feedback-btn{
		width: 100%;
	}
	.application-page{
		max-height: 200px;
		padding: 35px 20px;
	}
	.header .advanced-search{
		padding: 45px 85px 25px 0;
	}
	.header .advanced-search .advanced-search_dump{
		margin: 0 60px 0 0;
	}
	.line_top{
		display: block;
	}
	.basket-page{
		left: 9px;
		right: 9px;
		top: 84px;
		bottom: 0;
		margin: 0 auto;
		max-height: 420px;
		padding: 20px 15px;
	}
	.basket-page:before{
		display: none;
	}
	.basket-form .product-group .product-img{
		padding-right: 15px;
	}
	.basket-form .product-group .name-product{
		font-size: 16px;
		margin-bottom: 20px;
		width: 72%;
	}
	.basket-form .basket_exit{
		margin-bottom: 20px;
	}
	.basket-form .product__total-coust{
		margin: 20px 0;
		padding: 10px 0;
	}
	.basket-form .product__button{
		display: block;
		width: 80%;
		margin: 0 auto;
	}
	.basket-form .product-bay-btn{
		margin-bottom: 20px;
	}
	.login-page{
		left: 9px;
		right: 9px;
		top: 84px;
		bottom: 0;
		margin: 0 auto;
		max-height: 550px;
		padding: 20px 15px;
	}
	.login-page:before{
		display: none;
	}
	.login-page .login__form,
	.login-page .login__social{
		width: 90%;
		margin: 0 auto;
		padding-right: 0;
		border-right: none;
		float: none;
	}
	.login-page .login__social{
		padding: 30px 0 0 0;
	}
	.login-page .login__form .login__check-box{
		margin-bottom: 20px;
	}
	.pop-up .social_pop-up .google-btn{
		margin-bottom: 15px;
	}
	.registr-page{
		left: 9px;
		right: 9px;
		top: 84px;
		bottom: 0;
		margin: 0 auto;
		max-height: 500px;
		padding: 20px 15px;
		overflow: scroll;
	}
	.registr-page:before{
		display: none;
	}
	.registr-page .registr__form,
	.registr-page .registr__social{
		width: 90%;
		margin: 0 auto;
		padding-right: 0;
		border-right: none;
		float: none;
	}
	.registr-page .registr__social{
		padding: 30px 0 0 0;
	}
	.pre-order-page .basket-form,
	.pre-order-page .feedback-block{
		width: 100%;
	}
}
@media (max-width: 350px) {
	.product-book .product-book__title{
		font-size: 20px;
	}
	.product-book .product-book__slider .book-one{
		height: 321px;
	}
	.product-book .product-book__slider .book-one:hover{
		height: 386px;
	}
	.product-book .product-book__slider .cell-block{
		padding-right: 15px;
	}
	.product-book .product-book__slider .cell-block .novelty,
	.product-book .product-book__slider .cell-block .elite{
    	left: -25px;
	}
	.product-book .product-book__slider .book-one .rating {
    	margin-top: 10px;
	}
	.product-book .product-book__slider .book-one .rating i,
	.product-book .product-book__slider .book-one .book-name,
	.product-book .product-book__slider .book-one .author{
		font-size: 11px;
	}
	.product-book .product-book__slider .book-one .price{
		font-size: 20px;
		margin: 4px 0 20px;
	}
	.product-book .product-book__slider .cell-block .hit{
		left: -3px;
	}
	.subscription-block .subscription .input-block .check-box label{
		font-size: 13px;
	}
	.footer .footer-nav{
		display: none;
	}
	.feedback-page .feedback-block,
	.basket-form .product-group .product-aside,
	.login-page .login__form,
	.login-page .login__social,
	.registr-page .registr__form,
	.registr-page .registr__social,
	.pre-order-page .feedback-block .feedback-btn{
		width: 100%;
	}
}
